
<style>
select.form-control{
  text-transform: capitalize;
}
</style>
<div class="right_col" role="main" style="min-height: 1023px;">
          <div class="">
            <div class="page-title">
                  <div class="title_left">
                <h3>Event Registration</h3>
              </div>
              </div>
               <div class="clearfix"></div>
               <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="form-group" id="error-message">
                    <h3 style="text-align: center;" id="error-message-display">ERROR MESSAGE</h3>
                    </div>                             
                  <div class="x_content">
                    <br>
                    <div  class="col-sm-6 col-sm-offset-3 form-box">
 <form role="form" action="" method="post" class="event-registration-form">
<fieldset>
                                  <div class="form-bottom" style="padding-bottom: 35px;">
<div class="form-group">                                  
<select ng-options='f.events as f.parentEvent for f in options' ng-model="parentEvent" ng-change="update()" class="form-control" id="parentevent">
  <option value="">-- Select Category --</option>

  </select>
  </div>
  <div class="form-group">
<select ng-options="p as p for p in parentEvent" ng-model="selectedevent" ng-change="update()" class="form-control" id="childevent">
<option value="">-- Select Event --</option>

</select>
</div>
<div class="form-group">
<input type='text' ng-model="teamName" class="form-control" id="teamName" placeholder="TeamName" style="margin-bottom: 10px;"/>
</div>
<div class="form-group has-feedback">
<input type="text" class="form-control" id="team-leader" placeholder="Team leader" ng-model="leader">
<ul class="parsley-errors-list filled" id="team-leader-invalid" style="display: none;"><li class="parsley-required">Invalid Email or TechnexID</li></ul>
<span class="glyphicon glyphicon-king form-control-feedback right" style="right: 0px" aria-hidden="true"></span>
</div>
<div>
<div data-ng-repeat="field in members track by $index" class="form-group ">
  <div class="col-md-6 col-sm-6 col-xs-12 has-feedback member-input">
<input type="text" ng-model="a[$index]" class="form-control col-md-7 col-xs-12 abcd" ng-focus="removeerror($index)" required placeholder="Member Email or TechnexID" />
<ul class="parsley-errors-list filled" style="display: none;"><li class="parsley-required">Invalid Email or TechnexID</li></ul>
<span class="glyphicon glyphicon-pawn form-control-feedback right" style="right: 10px" aria-hidden="true"></span>
</div>

<button type="button" ng-click='removeMember($index)' class="btn btn-danger">Remove</button>
</div>
</div>
<br/>
<div>
<button type="button" ng-click="addMember()" ng-disabled='max == counter || max==undefined' class="btn btn-primary">Add Member</button>
<button type="button" class="btn btn-success team-reg-submit">SUBMIT</button>
</div>
</div>
</fieldset>

</form>

</div>
                  </div>
                </div>
              </div>
               </div>
            


          <br >



    
            </div>
          </div>
          <script type="text/javascript">
          	    $(document).ready(function(){
                 


          	    	$("#error-message").hide();

function membervalid(data){
   var id=data.trim();
    var tid=id.length==7 && id.substring(0,2)=="TX" && !isNaN(parseInt(id.substring(2)));
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
       console.log("////");
       console.log(tid);
      var email=re.test(id)
       return (email || tid);  
        
    }


console.log("hi");
   $('.team-reg-submit').on("click",function(){
       
      var x=$(".abcd");
      var y=true;
      var team_name=$(".teamName").val();
      console.log(x);
      console.log(y);
      if(y)
      {
      	if($("#parentevent option:selected").text()=="-- Select Category --")
      	{y=false;
      		$("#parentevent").addClass("input-error");
      	}
      }
      if(y)
      {
      	 if($("#childevent option:selected").text()=="-- Select Event --")
      	 	{
      	 		y=false;
      	 		$("#childevent").addClass("input-error");
      	 	}
      }
      if(y)
      {
          if($("#teamName").val()=="")
          {y=false;
          	$("#teamName").addClass("input-error");
          }    
      }
      if(y)
      {
      	if($("#team-leader").val()=="")
      	{
      		y=false;
      		$("#team-leader").addClass("input-error");
      	}
      }
      if(y)
      {
      	if(!membervalid($("#team-leader").val()))
      	{
      		$("#team-leader").addClass("parsley-error");
      		$("#team-leader-invalid").show();
      		y=false;
      	}
      }
      var z=$(".abcd");
      var ze=$(".parsley-errors-list");
      if(y)
      {
      	var i;
      	for(i=0;i<z.length;i++)
      	{
      		if(z[i].value=="")
      		{
                 $(z[i]).addClass("input-error");
                 y=false;
      		}
      	}
      }
      if(y)
      {
      	var i;
      	for(i=0;i<z.length;i++)
      	{
      		if(!membervalid(z[i].value))
      		{
             $(z[i]).addClass("parsley-error");
             $(ze[i+1]).show();
             y=false;                
      		}
      	}
      }
      	if(y)
		{
 		angular.element(document.getElementById('abcdlf')).scope().$$childTail.submitForm();
		}	
   }); 
   $('.event-registration-form input[type="text"], .event-registration-form input[type="password"], .event-registration-form textarea, .event-registration-form select').on('focus', function() {
        console.log("hua");
         $(this).removeClass('input-error');
         if(this.id=="team-leader")
         {
         	 console.log("hua");
           $("#team-leader-invalid").hide();
           $("#team-leader").removeClass("parsley-error");
         }
    });
   


});
          </script>