@import 'https://fonts.googleapis.com/css?family=Lato';
HTML, BODY {
  /*height: 100%;*/
}

BODY {
  background: black;
  color:white;
  /*background-size: .12em 100%;*/
  /*font: 16rem/1 "Lato";*/
}

.wrapper_logo{
  max-width: 50px;
  height: auto;
}

.text--line {
  font-size: .5em;
}

svg {
  width: 100%;
  font-size: 20rem;
}

@media screen and (min-width: 768px) {
  svg {
    width: 100%;
    font-size: 12rem;
    margin-top: -21%;
  }
}

section{
  height: 100vh;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 19%;
  stroke-width: 3px;
    letter-spacing: 0.05em;
  -webkit-animation: stroke-offset 2s linear;
          animation: stroke-offset 2s linear;
}
.text-copy:nth-child(1) {
  stroke: white;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke:white;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: white;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: white;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke:white;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  0% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

.dates{
    text-align: center;
    margin-top: -12%;
    margin-left: 0%;
    color: #f5deb3;
    font-size: 97%;
}
@media screen and (min-width:768px){
  .dates{
    font-size: 160%;
    letter-spacing: 2px;
  }
}
/*----------------------------NAVBAR--------------------------*/
@media screen and (min-width:1386px){
  .jnavbar{
      margin: 0 auto;
      display: table;
  }
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
  background-color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
 letter-spacing: 1px;
    border-right: 1px solid rgba(255,255,255,.3);
}
@media (min-width:1386px){
    ul.topnav li a{
        color: rgba(255,255,255,.8);
    }
ul.topnav li a:hover {
/*    background-color:white; color: black;*/
    border-top: 1px solid white;
    border-bottom:1px solid white;
    color: white;
}
    ul.topnav{
        display: inline-block;
    }
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:1386px) {
  ul.topnav li:not(:first-child){display: none;}
    ul.topnav li:nth-child(10){display: block; float: right;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
    ul.topnav li a{border:1px solid white;margin-right: 8px;}
}

@media screen and (max-width:1386px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
      border: 1px solid rgba(255,255,255,.2);
  }
}

@media (min-width:1024px) and (max-width:1399px){
    ul.topnav li a{
        padding: 14px 8px;
    }
}
@media (max-width:320px){
    ul.topnav li a{
      font-size: 14px;
      margin-right: 6px;
    }
}

/*-------------------/NAVBAR-------------------*/
.prize-tech{
    text-align: center;
    margin-left: 0%;
    margin-top: 30%;
}
@media screen and (min-width:768px){
  .prize-tech{
      margin-top: 11%;
  }
}
.prize-tech img {
    background: transparent;
}
.prize-tech p{
    font-size: 1.4em;
    letter-spacing: 2px;
}
.logo-img{
    width: 90%;
    margin-bottom: -30%;
    margin-left: 5%;
}
@media screen and (min-width:768px){
    .logo-img{
      width: 55%;
    margin-bottom: 0;
    margin-left: 22.5%;
    }
}
.main-logo{
  margin-top: 5%;
}
.text-technex{
  margin-top: : 0;
}
@media screen and (min-width:768px){
  .text-technex{
    margin-top: : -3%;
  }
}
.samsungLogo{
  margin-top:0%;
}
.samsungLogo h3{
        text-align: center;
        color: #f5deb3;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 1px;
}
.samsungLogo img{
    margin-left: 17%;
    height: 40px;
}

@media screen and (min-width:768px) {
  .samsungLogo{
    margin-top: 0%;
  }
  .samsungLogo h3{
      font-size: 16px;
  }
  .samsungLogo img{
    margin-left: 29%;
    height: 100px;
    margin-top: 1%;
    }
}
@media screen and (min-width:1600px){
  .samsungLogo h3{
      font-size: 16px;
      margin-top:4%;
  }
  .samsungLogo img{
      margin-left: 40%;
      height: 90px;
    }
}
@media screen and (min-width:1920px){
  .samsungLogo h3{
      font-size: 16px;
      margin-top:4%;
  }
  .samsungLogo img{
      margin-left: 40%;
      height: 90px;
    }
}

.desktopLogo{
  display: none;
}
.mobLogo{
  display: block;
  margin-top: 2%;
}
@media screen and (min-width:768px){
  .desktopLogo{
    display: block;
  }
  .mobLogo{
    display: none;
  }
}
.inteleximg{
  margin-left: 2%;
  margin-top: -5%;
}
.inteleximg img{
  width: 20%;
}


/* -------- footer -----------*/
.techfooter{
  background: rgba(0,0,0,.5);
  color: rgba(255,255,255,.8);
  border: 0;
  margin: 0;
  width: 100%;
    top: 94%;
    position: fixed;
    z-index: 200000000000;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 5px;
}
.techfooter ul{
  display: flex;
  list-style: none;
  margin: 0;
}
.techfooter ul a {
    text-decoration: none;
    padding: 1%;
    font-size: 70%;
    font-family: sans-serif;
    margin: 0 auto;
    color: rgba(255,255,255,.6);
    text-transform: uppercase;
}
@media screen and (min-width:768px){
  .techfooter ul a {
      text-decoration: none;
      padding: 1%;
      font-size: 120%;
      font-family: sans-serif;
      margin: 0 auto;
      color: rgba(255,255,255,.6);
      text-transform: uppercase;
      letter-spacing: 1px;
  }
}
.techfooter ul a:hover{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
/* ---------/footer ----------*/
.mobilefooter{
  background:black;
  color: rgba(255,255,255,.8);
  border: 0;
  margin: 0;
  width: 100%;
    top: 68%;
    position: fixed;
    z-index: 200000000000;
  border: 1px solid rgba(255,255,255,.4);
  border-bottom: none;
  border-radius: 5px;
}
.mobilefooter ul a{
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mobilefooter ul a li{
      padding: 3%;
      color: white;
      border: 1px solid white;
      box-shadow: inset 0 0 8px;
}
@media screen and (max-width:768px){
  #social-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* margin-top: 20%; */
        z-index: 20000000;
        bottom: 8%;
        left: 12%;
        position: fixed;
  }
}

#social-icons a{
  padding: 0% 0% 0% 0%;
}

#social-icons a img{
  width: 40%;
}
@media screen and (min-width:768px){
  #social-icons a img{
    width: 60%;
  }
  #social-icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 5%;
  }
}
#social-icons a img:hover {
    border-bottom: 4px solid blue;
    border-radius: 13%;
    transition: 0.3s;
    padding-bottom: 5%;
}

.gifs a img{
  margin: 8%;
  margin-right: 29%;
  width: 40%;
  border-radius: 0%;
  border: 1px solid white;
}
@media screen and (min-width:768px){
  .gifs a img{
    margin: 5%;
    margin-top: -14%;
    width: 18%;
    border-radius: 0%;
    border: 1px solid white;
  }
}
