body {
	background-color:#2c3e50;
}



.navbar {
	background:#3498db;
	border-color:transparent;
	color:#fff;
	font-family: Ubuntu;
	padding:10px;
}

.navbar-brand {
	font-family: Ubuntu;
	font-size: 50px;
}

.navbar-default .navbar-nav > li > a{
	color:#fff;
	font-size:20px;
}

#circleContainer {
	padding:30px;
}

.full-circle {
	background-color: #3498db;
	height: 100px;
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	border-radius:75px;
	width: 100px;
	margin:20px 30px;
	float:left;
}

.ih-item.circle {
	width:150px;
	height:150px;
}

.ih-item.circle.effect15 .info h3  {
	font-size:16px;
}

#questionMark {
	padding-top:20px;
	margin:auto;
	font-family:Ubuntu; 
	text-align:center;
	font-size:100px;
	color:#fff;
}

#footer {
	text-align: center;
	margin:auto;
}

a {
	text-decoration: none;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#timerul li {
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  bottom: 0;
  position: absolute;
  width: 100%;
}
#timerul li:nth-child(1) {
  animation-duration: 1500s, 1500s;
  animation-iteration-count: 1;
  animation-name: height, color;
  opacity: .6;
}
#timerul li:nth-child(2) {
  animation-duration: 60s, 1500s, 60s;
  animation-iteration-count: 25;
  animation-name: height, color, opacity;
  animation-timing-function: step-stop;
  opacity: .2;
}
#timerul li:nth-child(3) {
  animation-duration: 30s, 1500s, 30s;
  animation-iteration-count: 50;
  animation-name: height, color, opacity;
  animation-timing-function: step-stop;
  opacity: .2;
}
#timerul li:nth-child(4) {
  animation-duration: 10s, 1500s, 10s;
  animation-iteration-count: 150;
  animation-name: height, color, opacity;
  animation-timing-function: step-stop;
  opacity: .2;
}
#timerul li:nth-child(5) {
  animation-duration: 5s, 1500s, 5s;
  animation-iteration-count: 300;
  animation-name: height, color, opacity;
  opacity: .1;
}

time {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  font-weight: 300;
  height: 100px;
  left: 0;
  line-height: 100px;
  margin-top: -50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  user-select: none;
  z-index: 2;
}