
<div class="right_col" role="main" style="min-height: 917px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Change Password</h3>
              </div>

              
            </div>
            
            <div class="clearfix"></div>
<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <br>
                    <form method="post" id="reset-pass-form" class="form-horizontal form-label-left">
                       <div class="form-group" id="resetpasserrmsg" style="display: none;">
                    <h3 style="text-align: center;" id="resetpasserr">ERROR MESSAGE</h3>
                    </div>  
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="old-pass">Old Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="password" id="old-pass" class="form-control col-md-7 col-xs-12" ng-model="oldpass">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new-pass">New Password<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="password" id="new-pass" name="new-pass" class="form-control col-md-7 col-xs-12" ng-model="newpass">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="confirm-new-pass" class="control-label col-md-3 col-sm-3 col-xs-12">Confirm New Password<span class="required">*</span></label>
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="confirm-new-pass" class="form-control col-md-7 col-xs-12" type="password" name="confirm-new-pass" ng-model="cnewpass">
                          <ul class="parsley-errors-list filled" id="pass-match-error" style="display: none;"><li class="parsley-required">Passwords didn't Match</li></ul>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <a href="#profile"><button type="submit" class="btn btn-primary">Cancel</button></a>
                          <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            <script type="text/javascript">
              $(document).ready(function(){
               $('input').on("focus",function(){
                  $(this).removeClass("input-error");
                  $("#resetpasserrmsg").hide();
                  if(this.id=="confirm-new-pass")
                  {
                    $(this).removeClass("parsley-error");
                    $("#pass-match-error").hide();
                  }
               });
              });
            </script>
