<style type="text/css">
              input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
         
</style>

<div class="right_col" role="main" style="min-height: 1023px;">
          <div class="">
            <div class="page-title">
                  <div class="title_left">
                <h3>T-shirt Information</h3>
              </div>
              <h2 style="color: white;">View T-shirt poster from <a target="_blank" href="http://res.cloudinary.com/ishu2502/image/upload/v1486823904/unnamed_n6albo.jpg"><u>here</u></a></h2>
              </div>
               <div class="clearfix"></div>
               <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="form-group" id="error-message" style="display: none;">
                    <h3 style="text-align: center;" id="error-message-display">ERROR MESSAGE</h3>
                    </div>                             
                  <div class="x_content">
                    <br>
                    <div  class="col-sm-6 col-sm-offset-3 form-box">
 <form role="form" action="" method="post" class="event-registration-form">
<fieldset>
                                  <div class="form-bottom" style="padding-bottom: 35px;">
<div class="form-group">
<select class="form-control" id="size">
  <option value="NONE">--SELECT YOUR T-SHIRT SIZE--</option>
  <option value="S">SMALL(S)</option>
  <option value="M">MEDIUM(M)</option>
  <option value="L">LARGE(L)</option>
<option value="XL">XL</option>
  <option value="XXL">XXL</option>
</select>
</div>
<div class="form-group">
<select class="form-control" id="color">
  <option value="NONE">--SELECT COLOUR OF T-SHIRT--</option>
  <option value="BLACK">BLACK</option>
  <option value="BLUE">BLUE</option>
</select>
</div>
<div class="form-group">
<select class="select2_multiple form-control" id="events" multiple="multiple">
<option ng-repeat="x in events track by $index" value="{{x}}">{{x}}</option>
                          </select> 
</div>
<div class="form-group">
<input type="date" class="form-control" placeholder="Select your date of arrival" id="date">
</div>
<div class="form-group">
<select class="form-control" id="gender">
 <option value="NONE">--SELECT YOUR GENDER--</option>
  <option value="MALE">MALE</option>
  <option value="FEMALE">FEMALE</option>
</select>
</div>
<div class="form-group">
<!-- <input type="textbox"  rows="2" class="form-control"> -->
<textarea rows="2" class="form-control" placeholder="Any Suggestions" id="suggestions"></textarea>
</div>
 <div class="form-group">
                       
                          <button type="button" class="btn btn-success pull-right team-reg-submit" ng-click="submit()">Submit</button>
                                             </div>

</div>

</fieldset>

</form>

</div>
                  </div>
                </div>
              </div>
               </div>
<br>



    
            </div>
          </div>
          
          <script type="text/javascript">
            $("select, input").on('focus',function(){
              $(this).removeClass("input-error");
            
           if(this.id=="team-leader")
         {
           console.log("hua");
           $("#team-leader-invalid").hide();
           $("#team-leader").removeClass("parsley-error");
         }
            });
     </script>    
                <script>
      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "Select a state",
          allowClear: true
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
          maximumSelectionLength: 15,
          placeholder: "Select the events in which your participation is confirmed (AT MAXIMUM 15)",
          allowClear: true
        });
      });
    </script>
          