<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Airshow | Technex '17</title>
		<!-- <link rel="shortcut icon" href="/static/images/favicon.ico"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="description" content="Technex '16 proudly presents the 3rd Airshow in loving memory of late Prof. Veer Bhadra Mishra,a former Professor of the department of Civil Engineering, IIT - BHU, Varanasi and a former Mahant of Sankat Mochan Foundation, Varanasi." />
		<meta name="keywords" content="Airshow iit bhu, airshow technex, technex 17, technex 2017, bhu, iit" />
		<link rel="stylesheet" type="text/css" href="/static/airshow/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/airshow/css/component.css" />
		<script src="/static/airshow/js/modernizr.custom.js"></script>
		<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-68539305-2', 'auto');
				ga('send', 'pageview');

		</script>
		<!-- navbar -->
		<script>
				function navFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
						x.className += " responsive";
				} else {
						x.className = "topnav";
				}
				}
		</script>
		<!--/navbar  -->
	</head>
	<body>
		<div class="container">
			<!----------NAVBAR-------->
							<div class="jnavbar" id="abcde">
							<ul class="topnav" id="myTopnav">
							<li class="topnav-li"><a href="/" style="padding:0px 0px;border:none;">
							<img src="/static/images/logo-technex-nav.png" height="40px" class="desktopLogo" style="padding-left:8px;padding-right:8px;">
							<img src="/static/images/technexLogoMobile.png" height="40px" class="mobLogo" style="padding-left:8px;padding-right:8px;">
							</a></li>
			     <li class="topnav-li"><a class="active" href="/events">EVENTS</a></li>
      <!-- <li class="topnav-li"><a href="/workshops">WORKSHOPS</a></li> -->
      <li class="topnav-li"><a href="/talks">THINK TALKS</a></li>
      <li class="topnav-li"><a href="/sponsors">SPONSORS</a></li>
      <li class="topnav-li"><a href="/kaleidoscope">KALEIDOSCOPE</a></li>
      <li class="topnav-li"><a href="/startupfair">STARTUP FAIR</a></li>
      <li class="topnav-li"><a href="/contacts">CONTACTS</a></li>
     
      <li class="topnav-li"><a href="/hospitality">HOSPITALITY</a></li>
       <li class="topnav-li"><a href="http://ca.technex.in">CAMPUS AMBASSADOR</a></li>
<!--   <li class="topnav-li" id="reg"><a href="/register" style="font-weight:600;background:#0084ff;"> {% if user.is_authenticated %}
  DASHBOARD
  {% else %}
  REGISTER / LOGIN
  {% endif %}</a></li> -->
							<li class="icon">
							<a href="javascript:void(0);" class="iconA" onclick="navFunction()">☰</a>
							</li>
							</ul>
							</div>
<!----------/NAVBAR-------->

			<div class="main" style="position:fixed;margin-left:5%;">
				<div id="cbp-contentslider" class="cbp-contentslider">
					<ul>
						<li id="slide1">
							<h3 class="icon-wolf"><img src="/static/airshow/img/21.png" class="iconair">PROF. VEER BHADRA MEMORIAL AIRSHOW</h3>
							<div>
								<div class="cbp-content">
									<p>The airshow was first held on 6th March 2014 in the memory of late Prof Veer Bhadra Mishra, former head of Dept. of Civil Engineering, Indian Institute of Technology (BHU) Varanasi and Mahant of Sankat Mochan Hanuman Temple. Popularly known as Hero of the Planet, he has been recognised on the United Nation Environmental Programme’s “Global 500 Roll of Honour” for his immeasurable contribution towards cleaning of the holy Ganges.</p>
									<p>Aeromodelling Club, Science and Technology Council, IIT (BHU) Varanasi is back with the fourth edition of Airshow to commemorate his dedication and spirit. With the footfall of over 5000 in early editions, we're all set to provide an awe-inspiring event with finest flyers of India performing the unique and petrifying aerobatics with the Radio Controlled Electric and IC planes, water rockets, hovercraft, autonomous and semi-autonomous multi rotors. AIRSHOW 2017 will be the most dynamic pageant of its kind ever staged in India.</p>
								</div>
							</div>
						</li>
						<li id="slide2">
							<h3 class="icon-rabbit"><img src="/static/airshow/img/22.png" class="iconair">PROF. VEER BHADRA MEMORIAL AIRSHOW</h3>
							<div>
								<div class="cbp-content">
									<p>Marvels like the Red Swan, The Black Hawk and Cloud Dancer will be joined by many others, from home and abroad, for a series of breathtaking routines and manoeuvres. Here are some of the highlights from our stellar lineup of aerobatic daredevils that promise to leave the crowd spellbound.</p>
									<p><span class="modname">1.The  Black Hawk:</span><br>
										A State of the Art autonomous quadcopter, A versatile GPS Controlled Machine empowered with Live Video Feed, Automatic Path Planning and Return to Home.
										<br><span class="modname">2.The Humming Parrot</span><br>
										A first in its making, this balsa wood plane boasts of a 1.1m wingspan and is powered by an amazing 2.5cc glow engine which runs on methanol based fuel.

										<br><span class="modname">3.The Red Swan:</span><br>
										The Red Swan is an electric powered park fly glider with an excellent flight experience and precise control.

										<br><span class="modname">4.The Cloud Dancer:</span><br>
										The cloud dancer is an RC trainer that is compact, fast and resembles a bomber. Keep an eye out for this one.

										<br><span class="modname">5.The Trail Blazer:</span><br>
										Watch as this plane beautifully navigates the sky leaving a trail of smoke outlining its path in the air

										<br><span class="modname">6. The Diesel throttler:</span><br>
										Inspired primarily by Full-Scale piloted planes. This 3.2cc Diesel Engine RC is worth a watch.

										<br><span class="modname">7.The Trifecta Tricopter:</span><br>
										Making a noise of a buzz, this three armed multi-rotor is one of its kind, both in looks and in speed.

										<br><span class="modname">8.The Tarot Racer:</span><br>
										<i>GET ! SET !! GO  !!!!</i>

										<br><span class="modname">9.The Viper Jet:</span><br>
										The sweet and compact RC model resembles the working of a jet engine plane with a hidden motor propeller mechanism.

										<br><span class="modname">10.The Bi-Winger:</span><br>
										A vintage style plane, this cute RC Model with its two wings, flying slowly through the air, is a sight to behold.
										</p>
								</div>
							</div>
						</li>
						<li id="slide3">
							<h3 class="icon-aligator"><img src="/static/airshow/img/23.png" class="iconair">PROF. VEER BHADRA MEMORIAL AIRSHOW</h3>
							<div>
								<div class="cbp-content">
									<p>With a positive vision to promote aviation among the students and encourage aerospace in India especially Varanasi, Airshow is conducted annually with new and innovative models every year. Apart from providing a platform for the aero modellers across India to showcase their skills and creative ideas the airshow aims to push for research in the field of model aircraft design and construction.The aerospace exhibition will feature the technology of tomorrow, thus spreading the awareness about new techniques and breakthroughs in the field of Aerospace among the common masses.</p>
								</div>
							</div>
						</li>
						<li id="slide4">
							<h3 class="icon-turtle"><img src="/static/airshow/img/24.png" class="iconair">PROF. VEER BHADRA MEMORIAL AIRSHOW</h3>
							<div>
								<div class="cbp-content">
									<p>In 1999, Time (magazine) named seven people from across the globe as “Heroes of the Planet”. One of the seven was the former head-of-department of civil engineering at the Benares Hindu University (BHU), Professor Veer Bhadra Mishra. Mahantji, as he was called, had also been on the UN’s Global Roll of Honour in 1992.</p>
									<p>Towards this end, he established the Sankat Mochan Foundation, which did exceptional work for clearing the river of pollutants, especially in and around Varanasi. Under him, the foundation developed and implemented an efficient mechanism for this purpose.</p>
									<p>Prof Mishra specialised in hydraulic engineering and water resource management. In all, his teaching career spanned almost 40 years. His indefatigable will was brought about by an integration of scientific training and his complete devotion to the Ganga. He earned the title of Ganga Putra (Son of Ganga).</p>
									<p>In his life, Prof Mishra remained loyal to all three icons — the deity, the temple, and its progenitor.</p>
								</div>
							</div>
						</li>
						<li id="slide5">
							<h3 class="icon-platypus"><img src="/static/airshow/img/25.png" class="iconair">PROF. VEER BHADRA MEMORIAL AIRSHOW</h3>
							<div>
								<div class="cbp-content">
									<p style="text-align:center;">PINKESH<br>+91-9413675358<br><a href="https://www.facebook.com/pinkesh.narsinghani" target="_blank"><img src="/static/airshow/img/fbicon.png" class="fbicon"></a></p>
									<p class="vantime van1" style="text-align:center;color:wheat;">26 FEB 2017 | 09:00 AM | GYMKHANA GROUND</p>
									<p style="text-align:center;">JAYANT<br>+91-7905368772<br><a href="https://www.facebook.com/jayant.srivastava.5496" target="_blank"><img src="/static/airshow/img/fbicon.png" class="fbicon"></a></p>
									<p class="vantime" style="text-align:center;color:wheat;">26 FEB 2017 | 09:00 AM | GYMKHANA GROUND</p>
									</div>
							</div>
						</li>
					</ul>
					<nav>
						<a href="#slide1"><span>ABOUT</span></a>
						<a href="#slide2"><span>FLYING MODELS</span></a>
						<a href="#slide3"><span>VISION</span></a>
						<a href="#slide4"><span>PROF. VEER BHADRA</span></a>
						<a href="#slide5"><span>CONTACT</span></a>
					</nav>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/static/airshow/js/jquery.cbpContentSlider.min.js"></script>
		<script>
			$(function() {
				/*
				- how to call the plugin:
				$( selector ).cbpContentSlider( [options] );
				- options:
				{
					// default transition speed (ms)
					speed : 500,
					// default transition easing
					easing : 'ease-in-out',
					// current item's index
					current : 0
				}
				- destroy:
				$( selector ).cbpContentSlider( 'destroy' );
				*/

				$( '#cbp-contentslider' ).cbpContentSlider();
			});
		</script>
	</body>
</html>
