
	<!doctype html>
	<html>
	<head>

		<title>Contacts | Technex'18</title>
			<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Contacts: Phone: +91-756-581-6969 Email: technex@iitbhu.ac.in Address: IIT (BHU) Gymkhana, IIT (BHU), Varanasi">
    <meta name="keywords" content="technex contact, technex mobile number, technex address, technex email id, mobile number, contact, phone, email, call, address">
				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		   <meta property="fb:app_id" content="461359507257085" />
      <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2017 | IIT (BHU), Varanasi">
      <meta property="og:url" content="http://www.technex.in">
      <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
      <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel='stylesheet' id='stylesheet-css' href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">
			</head>
	<body class="device-mobile   loading" >
		
		<header id="nav-header" class="">
			<img src="/static/history/img/logo_white.png" class="logo"/>
		<nav class="nav" role="navigation">
		
		<div class="container container--full">
			<ul class="menu">
				<li class="menulogo"><a href="\"><img src="/static/history/img/logo_white.png"/></a></li>
				<li class="menu__item " data-href="/events">
					<a class="" href="/events+">EVENTS</a>
				</li>
				<li class="menu__item " data-href="/talks">
					<a class="" href="/talks">THINK TALKS</a>
				</li>
				<li class="menu__item " data-href="/sponsors">
					<a class="nosamepage" href="/sponsors">SPONSORS</a>
				</li>
				<li class="menu__item " data-href="/kaliedoscope">
					<a class="" href="/kaliedoscope">KALEIDOSCOPE</a>
				</li>
				<li class="menu__item " data-href="/startupfair">
					<a class="" href="/startupfair">STARTUP FAIR</a>
				</li>
				<li class="menu__item " data-href="/contacts">
					<a class="" href="/contacts">CONTACTS</a>
				</li>
				<li class="menu__item " data-href="/hospitality">
					<a class="" href="/hospitality">HOSPITALITY</a>
				</li>
				<li class="menu__item " data-href="/ca">
					<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
				</li>	
		</ul>
	</div>
</nav>
<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>

<style>
.container1 {
    position: ;
    width:;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}

.text {
  background-color:;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
}
</style>

</header>

		<section id="container" role="main">
			<div id="master" class="master">
				<div class="scrollable">
					
    

	
<header class="ct--header ct--header--left  fs">
	
	<div class="wrapper fs">
		<div class="ct--header__content c8">
			
							<span class="h4 t t--dy t--header"><span class="t--mask"></span></span>
			
			<h1 class="h3 t t--dy t--header">
				<span class="t--mask">
					CONTACTS
									</span>
			</h1>
			
						
			
			
			
		</div>

		
				
					<span class="ct--header__cta ct--header__cta--1 ">
								<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Scroll</span></span>
				<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
			</span>
		

		<div class="ct--header__background r r--16-9" style="background-image:url( http://res.cloudinary.com/ishu2502/image/upload/v1508532684/exhibitions1_bnylst.jpg )">
																		<img class="media media--hide" src="http://res.cloudinary.com/ishu2502/image/upload/v1508532684/exhibitions1_bnylst.jpg" alt="">
														</div>
	</div>

	
	<div class="mask">
		<span class="mask__item c6"></span>

		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>
		
		<span class="mask__item c6"></span>
	</div>

</header>

					{% for team in teams|dictsort:"order" %}
			 {% with forloop.counter as outer_counter %}

				<section class="master__section logos-grid container ">
			<div class="ct--master ct--logos-grid c12 m1">
    		<h2 class="h1">
			{{team.teamName}}
		</h2>
	


			<ul style="">
			{% for member in team.teammembers_set.all|dictsort:"order" %}
				                    <li style="width:100%">
                	<div class="container1">
                    <img src="{{member.photo}}" style="width:100%">
                    <div class="middle">
                    	<div class="text" style="text-align: center">{{member.number}}</div>
                            <div class="text" style="text-align: center;">{{member.email}}</div>
                    </div>
                	</div>
                <p style="text-align: center;">{{member.name}}</p>
                <p style="text-align: center;">{{member.designation}}</p>
            </li>
	 {% endfor %}			
</ul>	

												        		    
</div>
		</section>
			{% endwith %}
{% endfor %}
				
	
	

					

									</div>
						<span class="ct--close btn btn--close">
		<svg class="i-close-popin-wrap"><use xlink:href="#i-close-popin"></use></svg>
</span>			</div>
		</section>

		<footer class="footer">
	<div class="container container--full">
		<ul class="footer__links">
                                       <li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>
                </ul>
        <ul class="footer__socials">
            <li>             
              <i class="fa fa-facebook fa-2x"><a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">Facebook</a></i>
            </li>
                                <li> <i class="fa fa-twitter fa-2x">
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter
                </a></i>
            </li>
                                <li> <i class="fa fa-instagram fa-2x">
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram
                </a></i>
            </li>
                                <li> <i class="fa fa-linkedin fa-2x">
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Linkedin">
                    Linkedin
                </a></i>
            </li>
                </ul>
	</div>
</footer>

<div class="mask mask--page">
<div class="loader"></div>
</div>
<script type='text/javascript' src='/static/history/js/main-mobile.js'></script>
</body>
</html>