<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hospitality | Technex '17</title>
		<!-- <link rel="shortcut icon" href="/static/images/favicon.ico"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="description" content="Team Technex welcomes you all to the spiritual capital of India. Hospitality plays an essential role in making your experience more amazing and thus it is of utmost importance to us. We at Technex put in our best efforts to make your visit to IIT (BHU), Varanasi most amiable and comfortable possible." />
		<meta name="keywords" content="IIT, iit bhu,hospitality, technex,technex'17, technex 2017, technex 2017 hospitality,iit varanasi,accommodation,payment, register,login,accomodation,android app, id card, contact, how to reach iit bhu, train to varanasi, about varanasi, auto to iit bhu, taxi to iit bhu, varanasi cantt to iit bhu, mughalsarai to iit bhu,vishwanath temple" />
		<meta property="og:image" content="http://www.technex.in/static/hospitality/images/ghats2.jpg">
		<link rel="stylesheet" type="text/css" href="/static/hospitality/css/component.css" />
		<script src="/static/hospitality/js/modernizr.custom.js"></script>
		<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-68539305-2', 'auto');
ga('send', 'pageview');

</script>
<script>
function navFunction() {
	var x = document.getElementById("myTopnav");
	if (x.className === "topnav") {
			x.className += " responsive";
	} else {
			x.className = "topnav";
	}
}
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '719194484921932'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
	</head>
	<body>
		<div class="container">
			<!----------NAVBAR-------->
<div class="jnavbar" id="abcde">
<ul class="topnav" id="myTopnav">
<li class="topnav-li"><a href="/" style="padding:0px 0px;border:none;">
<img src="/static/images/logo-technex-nav.png" height="40px" class="desktopLogo" style="padding-left:8px;padding-right:8px;">
<img src="/static/images/technexLogoMobile.png" height="40px" class="mobLogo" style="padding-left:8px;padding-right:8px;">
</a></li>
     <li class="topnav-li"><a class="active" href="/events">EVENTS</a></li>
      <!-- <li class="topnav-li"><a href="/workshops">WORKSHOPS</a></li> -->
      <li class="topnav-li"><a href="/talks">THINK TALKS</a></li>
      <li class="topnav-li"><a href="/sponsors">SPONSORS</a></li>
      <li class="topnav-li"><a href="/kaleidoscope">KALEIDOSCOPE</a></li>
      <li class="topnav-li"><a href="/startupfair">STARTUP FAIR</a></li>
      <li class="topnav-li"><a href="/contacts">CONTACTS</a></li>
     
      <li class="topnav-li"><a href="/hospitality">HOSPITALITY</a></li>
       <li class="topnav-li"><a href="http://ca.technex.in">CAMPUS AMBASSADOR</a></li>
<!--   <li class="topnav-li" id="reg"><a href="/register" style="font-weight:600;background:#0084ff;"> {% if user.is_authenticated %}
  DASHBOARD
  {% else %}
  REGISTER / LOGIN
  {% endif %}</a></li> -->
<li class="icon">
<a href="javascript:void(0);" class="iconA" onclick="navFunction()">☰</a>
</li>
</ul>
</div>
<!----------/NAVBAR-------->
			<div id="bl-main" class="bl-main">
				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-about"><img src="/static/hospitality/images/1.png"><br>TECHNEX AND VARANASI</h2>
					</div>
					<div class="bl-content">
						<h2 style="text-align:center;">|| हर हर महादेव ||</h2>
						<p class="harhar">Team Technex welcomes you all to the spiritual capital of India. Hospitality plays an essential role in making your experience more amazing and thus it is of utmost importance to us. We at Technex put in our best efforts to make your visit to IIT (BHU), Varanasi most amiable and comfortable possible. Hospitality team of Technex comprises of dedicated individuals who will cater to your needs such as accommodation, registration and lodging when you arrive in the campus.</p>
						<h2 style="text-align:center;margin-top:5%;">ABOUT VARANASI</h2>
						<h3>Varanasi: The City of Spiritual Rebirth</h3>
						<hr>
						<img>
						<p>It's often said that arriving in Varanasi can be a little overwhelming. One is greeted by chaos, colour and the feeling of stepping back in time. With its history dating back to 1400B.C., Varanasi is one of the world’s oldest continuously inhabited cities and is dripping in history and spirituality. </p>
						<p>Here is a paragraph that describes Varanasi and its mythological origin in Mark Twain’s inimitable prose: “Benares is older than history, older than tradition, older even than legend, and looks twice as old as all of them put together. From a Hindoo statement quoted in Rev. Mr. Parker’s compact and lucid Guide to Benares, I find that the site of the town was the beginning-place of the Creation. It was merely an upright “lingam,” at first, no larger than a stove-pipe, and stood in the midst of a shoreless ocean. This was the work of the God Vishnu. Later he spread the lingam out till its surface was ten miles across. Still it was not large enough for the business; therefore he presently built the globe around it. Benares is thus the center of the earth.”</p>
						<img>
						<p>Most visitors agree Varanasi is magical – but not for the faint-hearted. Intimate rituals of life and death take place in public, and the sights, sounds and smells on the ghats – not to mention almost constant attention from touts – can be intense. Still, the so-called City of Light may turn out to be one of the most unforgettable places you visit.</p>
						<h3>Things to do</h3>
						<hr>
						<p>A boat ride across the sacred Ganges, perfectly captures the spirit of Varanasi. Countless candlelit paper boats with flowers carrying people’s prayers, float their way across the waters. Countless pilgrims take a holy dip in the waters, others meditate in solitude and the rest bow their heads in prayer along the Ghats. As the sun goes down, the evening ritual of worship, called the Ganga Aarti, unfolds.</p>
						<p>Here are a few key things that you must try out while in Banaras:</p>
						<h3>Explore BHU</h3>
						<hr>
						<p>The Banaras Hindu University is an internationally reputed University established in 1916 by Pandit Madan Mohan Malaviya. With a campus, spanning across 1300 acres, and buildings as majestic as forts, it houses a few totally amazing sights you wouldn't expect to find over here, like</p>
						<div><ul class="instUL">
							<li>The Vishwanath Temple, aka VT</li>
							<li>The Bharat Kala Bhawan</li>
							<li>The Trauma Center (state of the art hospital)</li>
							<li>An Airstrip!</li>
							<li>A World War II fighter plane</li>
							<li>A Silver Plated Rolls Royce, to name a few.</li>
						</ul></div>
						<img>
					<a href="https://www.google.co.in/maps/place/Sankat+Mochan+Hanuman+Temple/@25.282111,82.9977882,17z/data=!3m1!4b1!4m5!3m4!1s0x398e318c95346e23:0x82d034bc6d01bf83!8m2!3d25.2821062!4d82.9999769?hl=en" target="_blank" style="color:black;"><h3>The Sankat Mochan Temple</h3></a>
					<hr>
					<p>One of the most sacred Hindu temples dedicated to Lord Hanuman,  it is said that Tulsidas, (the author of the famous Hindu epic Ramacharitamanas) founded the Sankat Mochan temple.</p>
					<p>Established in the 1970s, the Sankat Mochan festival continues the practice of performance in temples that is today quite rare. Performing in Sankat Mochan – no matter what the performance or who the performer (Muslims perform each year at the festival) – is considered a form of shringar, or “decoration” for the god in question, as well as hazri, or attendance in the god’s court, and shraddha and prem, or respect and love for the god.</p>
					<img>
					<a href="https://www.google.co.in/maps/place/Shri+Kashi+Vishwanath+Temple/@25.310858,83.0084896,17z/data=!3m1!4b1!4m5!3m4!1s0x398e2e21ee940b17:0x48600e4fcdfb7b13!8m2!3d25.3108532!4d83.0106783?hl=en" target="_blank" style="color:black;"><h3>The Kashi Vishwanath Temple</h3></a>
					<hr>
					<p>There are temples at almost every turn in Varanasi, but this is the most famous of the lot. Located in the heart of Varanasi, it stands on the western bank of  river Ganges. It is dedicated to Vishveswara – Shiva as lord of the universe. The current temple was built in 1776 by Ahalya Bai of Indore; the 800kg of gold plating on the tower and dome was supplied by Maharaja Ranjit Singh of Lahore 50 years later.</p>
					<img>
					<a href="https://www.google.co.in/maps/place/Assi+Ghat/@25.2893736,83.0042374,17z/data=!3m1!4b1!4m5!3m4!1s0x398e31ec318ede7f:0xdabfee5b220ac507!8m2!3d25.2893688!4d83.0064261?hl=en" target="_blank" style="color:black"><h3>The Ghats &#x2665;</h3></a>
					<hr>
					<p>No single picture can justify the chaotic yet serene beauty of the Ghats. The dream place of every Shutterbug, two of the must-visit ghats are the Assi Ghat and the Dashashwamedh Ghat. Both serve as a wonderful place to linger and people-watch while soaking up the atmosphere. Every evening at 7pm an elaborate ganga aarti ceremony with puja, fire and dance is staged here. With a bit of planning, this can be combined with a boat ride for an amazing experience!</p>
					<img>
					<h3>Explore on Foot</h3>
					<hr>
					<p>The narrow lanes crowded with cows, bulls, speeding bicycles is a fantastic experience. One look at the old buildings and you are drawn to its culture and tradition.  It is an adventure plus a lifetime opportunity with a terrific photo chance to passage down these ancient alleys of history. Plus, all the gallis either run towards or parallel to the ghats, so you'd never be lost in this gripping city.</p>
					<h3>The Food!</h3>
					<hr>
					<img>
					<p>Check out:</p>
					<div>
					<ul class="instUL">
						<a href="https://www.google.co.in/maps/place/Limbdi+Corner/@25.2608429,82.9847467,17z/data=!3m1!4b1!4m5!3m4!1s0x398e322c9169c849:0xd9557e140ba17b8!8m2!3d25.2608381!4d82.9869354?hl=en" target="_blank" style="color:black;"><li>Chola-samosa at Limbdi Corner</li></a>
						<a href="https://www.google.co.in/maps/search/Pehelwaan+Lassi/@25.2972521,82.9897961,14z/data=!3m1!4b1?hl=en" target="_blank" style="color:black;"><li>Lassi, Malaiyoo and rabri at Pehelwaan Lassi</li></a>
						<li>Laddoos of Sankatmochan Temple</li>
						<a href="https://www.google.co.in/maps/place/Blue+Lassi+Shop/@25.3123215,83.0092839,17z/data=!3m1!4b1!4m5!3m4!1s0x398e2e1edccc4ee1:0x75201798f943ce7!8m2!3d25.3123167!4d83.0114726?hl=en" target="_blank" style="color:black;"><li>Blue Lassi shop</li></a>
						<li>Paan at Ravidas Gate</li>
						<a href="https://www.google.co.in/maps/place/Kashi+Chat+Bhandar/@25.3094085,83.0038109,17z/data=!3m1!4b1!4m5!3m4!1s0x398e2e1d0e6c52cd:0xa8a3678baea40336!8m2!3d25.3094037!4d83.0059996?hl=en" target="_blank" style="color:black"><li>Kashi Chaat Bhandaar</li></a>
					</ul>
				</div>
					<p>And loads of restaurant, about which you can consult from the students, according to your needs.</p>
					<a href="https://www.google.co.in/maps/place/Sarnath,+Varanasi,+Uttar+Pradesh+221007/@25.3729682,83.0073453,14z/data=!3m1!4b1!4m5!3m4!1s0x398e2ee870d6a12b:0xa1c385b2ea1fa974!8m2!3d25.3761664!4d83.0227103?hl=en" target="_blank" style="color:black;"><h3>Sarnath</h3></a>
					<hr>
					<img>
					<p>Approx 10 kms away from Varanasi lies the oldest site museum of the Archeological survey of India. Located right next to the excavated site, this museum has over five galleries and sculptures, artifacts dated from the 3rd Century BC to the 12th Century AD.</p>
					<p>Right across the main hall is Shakyasimha gallery. Here, you can find most special pieces in the museum sandstone Lion Capital of the Mauryan Pillar, which became the national emblem of India. The sites like the Tree where Buddha attained nirvana, the first sermon to his 5 disciples are all fascinating even to a non Buddhist.</p>
					<p>Here are a few interesting questions you could read about IIT(BHU) and Varanasi:</p>
					<div><ul class="instUL">
						<a href="https://www.quora.com/Does-everyone-studying-at-IIT-BHU-Varanasi-feel-sad-about-living-in-a-city-like-Varanasi" target="_blank"><li>https://www.quora.com/Does-everyone-studying-at-IIT-BHU-Varanasi-feel-sad-about-living-in-a-city-like-Varanasi</li></a>
						<a href="https://www.quora.com/Anyone-living-in-Varanasi-Hows-life-there" target="_blank"><li>https://www.quora.com/Anyone-living-in-Varanasi-Hows-life-there</li></a>
						<a href="https://www.quora.com/Apart-from-being-Banarasia-is-there-anything-cool-about-living-in-Varanasi" target="_blank"><li>https://www.quora.com/Apart-from-being-Banarasia-is-there-anything-cool-about-living-in-Varanasi</li></a>
						<a href="https://www.quora.com/What-is-your-review-of-Varanasi-Uttar-Pradesh-India" target="_blank"><li>https://www.quora.com/What-is-your-review-of-Varanasi-Uttar-Pradesh-India</li></a>
						<a href="https://www.quora.com/What-is-the-best-way-to-spend-3-days-in-Varanasi-Uttar-Pradesh-India" target="_blank"><li>https://www.quora.com/What-is-the-best-way-to-spend-3-days-in-Varanasi-Uttar-Pradesh-India</li></a>
						<a href="https://www.quora.com/How-do-I-spend-my-one-day-in-Varanasi" target="_blank"><li>https://www.quora.com/How-do-I-spend-my-one-day-in-Varanasi</li></a>
						<a href="https://www.quora.com/What-are-the-best-ways-to-spend-1000-rupees-in-Varanasi" target="_blank"><li>https://www.quora.com/What-are-the-best-ways-to-spend-1000-rupees-in-Varanasi</li></a>
						<a href="https://www.quora.com/I-am-planning-to-visit-Varanasi-for-pilgrimage-How-many-days-should-I-plan-to-spend-in-Varanasi" target="_blank"><li>https://www.quora.com/I-am-planning-to-visit-Varanasi-for-pilgrimage-How-many-days-should-I-plan-to-spend-in-Varanasi</li></a>
					</ul></div>
					<p>Here are a few videos to catch a glimpse of what you’re in for!</p>
					<div><ul>
						<a href="https://vimeo.com/55246312" target="_blank"><li>https://vimeo.com/55246312</li></a>
					</ul></div>
					<p>Hospitality team wishing all the participants a warm stay and all the very best!!</p>
					</div>
					<span class="bl-icon bl-icon-close" style="letter-spacing: 2px;font-weight: 600;">CLOSE</span>
				</section>
				<section id="bl-work-section">
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-works"><img src="/static/hospitality/images/4.png"><br>PAYMENTS PROCEDURE</h2>
					</div>
					<div class="bl-content">
						<h2>BENEFITS OF ONLINE PAYMENT <span style="font-weight: 500;font-size: 70%;font-style: italic;">(Valid till further notice)</span></h2>
						<div>
							<ul class="instUL">
								<li>Free Technex T-shirt.<b> (OFFER ENDED)</b></li>
								<li>Hospitality in campus for 5 days.</li>
								<li>Free Technex Hospitality Kit.</li>
								<li>Free passes to Game Dungeon - the informal events.</li>
							<p style="font-size:125%;">	NOTE: Participants who avail accommodation online only are eligible for benefits mentioned above</p>
							</ul>
						</div>
						<h2>PAYMENT INSTRUCTIONS</h2>
						<div>
							<ul class="instUL">
								<li>The link to pay for Technex is <a href="https://www.collegefever.com/events/technex-iit-bhu-varanasi" target="_blank" style="text-transform:lowercase;">www.collegefever.com/events/technex-iit-bhu-varanasi</a></li>
								<li>You will be redirected to our partner site.</li>
								<li>Click on 'GET EVENT TICKET' to view tickets and pay accordingly.</li>
							</ul>
						</div>
						<div class="subp">
						<h3>FOR EVENTS PARTICIPANTS</h3>
						<div>
							<ul class="instUL">
								<li>Event participants who want to avail accommodation need to pay &#8377;1300</li>
								<li>Event participants who just want to participate in events need to pay &#8377;800</li>
							</ul>
						</div>
						<h3>FOR WORKSHOPS PARTICIPANTS</h3>
						<div>
							<ul class="instUL">
								<li>Workshop participants need to pay &#8377;800 as registration fees of Technex in addition to particular workshop fees.</li>
								<li>Workshop participants who want to avail accomodation have to pay &#8377;1300 as registration fees of Technex in addition to particular workshop fees. </li>
							</ul>
						</div>
					</div>

						<!-- <ul id="bl-work-items">
							<li data-panel="panel-1"><a href="#"><img src="images/1.jpg" /></a></li>
							<li data-panel="panel-2"><a href="#"><img src="images/2.jpg" /></a></li>
							<li data-panel="panel-3"><a href="#"><img src="images/3.jpg" /></a></li>
							<li data-panel="panel-4"><a href="#"><img src="images/4.jpg" /></a></li>
						</ul> -->
					<span class="bl-icon bl-icon-close" style="letter-spacing: 2px;font-weight: 600;">CLOSE</span>
				</section>
				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-blog"><img src="/static/hospitality/images/2.png"><br>RULES AND ID CARD</h2>
					</div>
					<div class="bl-content">
						<h2>HOW TO GET YOUR ID CARD</h2>
						<div>

<p>
<b>Process:</b>
<br>
1. Download the Official Technex &#39;17 Android App<br>

on <a href='http://www.technex.in/app'>www.technex.in/app</a> OR <a href='https://play.google.com/store/apps/details?id=org.piratejester.technex17'>https://play.google.com/store/apps/details?id=org.piratejester.technex17</a>
<br>
2. Login with your credentials.
<br>
3. When you arrive at the registration desk of Technex &#39;17, you will be provided with a secret pin
<br>
which will unlock your secure e-ID card.
<br><br>
<b>Benefits:</b>
<br>
1. No extra care required to carry a paper ID card, your smartphone is your ID card as well as
<br>
entry pass for all the activities of Technex &#39;17.
<br>
2. You won&#39;t require internet to access and unlock your ID card once you are logged in.
<br>
3. No worries about losing your ID card and hence losing your security deposit.
<br>
4. Get all the latest details about the fest without any delay through live notifications.
<br>
5. And much more....
<br>
NOTE: If you don’t have android device you will be provided a printed ID card
<br>
For any queries contact regarding app:
<br><br>
Mayank Panchal : +919935015885
<br>
Soumyadeep : +918090842924
</p>
						</div>
						<h2>INSTRUCTIONS</h2>
						<div><ul class="instUL">
		<li>Accommodation will be provided from 23rd of February, 4 p.m., for four days.</li>
		<li>You’re required to report at <a href="https://goo.gl/maps/Aaeee2uEUwH2" target="_blank">Registration Desk</a> as soon as you arrive at the campus.</li>
		<li>All student participants must carry their valid College photo ID card. Others must bring their valid photo identity for the purpose of entry. People without valid photo identity card will not be allowed inside the campus during Technex 2017.</li>
		<li>The fee for registration is INR 1300 + 200 (Security deposit). The security deposit will be returned to you when you will be leaving the campus. Those who do not wish to opt for accommodation in the IIT(BHU) campus need to pay INR 800 + 200 (Security Deposit) only.</li>
		<li>Please bring 2 passport sized photographs.</li>
		<li>Facilities provided:
			<li class="subInst">1. Passes to all exhibitions</li>
			<li class="subInst">2. Passes to all think talks</li>
			<li class="subInst">3. Hospitality kit</li>
		</li>
		<li>Security of laptops and other belongings will be the responsibility of participants only. Technex will not be responsible for any loss or damage to the belongings of the participants.</li>
		<li>Participants are to bring along all the material required for the respective events.</li>
		<li>Kindly note that the accommodation is strictly on a shared basis and any requests for individual rooms or any complaints in this regard shall not be entertained.</li>
		<li>Random checks would be made to avoid any illegal stay at the campus. Any team failing to produce their receipts of accommodation would be heavily fined and disqualified.</li>
		<li>Alcohol, cigarettes, drugs, any intoxicants, sharp objects and explosives of any kind are strictly prohibited inside the campus. Any other item if deemed unsafe will be prohibited. The decision of Technex team will be final in case of any disputes.</li>
		<li>There are SBI and Bank of Baroda ATMs inside the campus. There’s also an AXIS bank ATM just outside the campus, near <a href="https://www.google.com/maps/place/Hyderabad+Gate,+Banaras+Hindu+University+Campus,+Varanasi,+Uttar+Pradesh+221011,+India/@25.2619924,82.9804766,18z/data=!3m1!4b1!4m5!3m4!1s0x398e323289029ca7:0x514d6cfbb33b7f19!8m2!3d25.2617554!4d82.9816562" target="_blank">Hyderabad Gate.</a></li>
	</ul></div>
					</div>
					<span class="bl-icon bl-icon-close" style="letter-spacing: 2px;font-weight: 600;">CLOSE</span>
				</section>
				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-contact"><img src="/static/hospitality/images/3.png"><br>REACH IIT (BHU) & CONTACTs</h2>
					</div>
					<div class="bl-content">
						<h2>WAY TO REACH IIT (BHU)</h2>
						<p><span class="from"><a target="_blank" style="color:black;" href="https://www.google.com/maps/dir/Varanasi+Airport,+Babatpur,+Uttar+Pradesh,+India/Technex,+IIT+(BHU)+Varanasi,+Training+and+Placement+Office,+IIT+(BHU),+Banaras+Hindu+University+Campus,+Varanasi,+Uttar+Pradesh+221005,+India/@25.3478677,82.8503585,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x398fd5ae98d33961:0xe0a6882ef87ef5a7!2m2!1d82.8568054!2d25.4486988!1m5!1m1!1s0x398e322ce9aaa787:0xf833de79aeffffe3!2m2!1d82.9864451!2d25.2612245"><abbr title="Click to View Map">From Airport to IIT(BHU):</abbr></a></span><br>

BHU Campus is about 35 kms. from Varanasi (Babatpur) Airport. The taxi charges from Airport to BHU Campus are about INR 600/-<br>

<span class="from"><a target="_blank" style="color:black;" href="https://www.google.com/maps/dir/Varanasi+Cantt,+Varanasi,+Uttar+Pradesh,+India/Technex,+IIT+(BHU)+Varanasi,+Training+and+Placement+Office,+IIT+(BHU),+Banaras+Hindu+University+Campus,+Varanasi,+Uttar+Pradesh+221005,+India/@25.2988502,82.9503368,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x398e2dbfc355d889:0xaa55a9ef2b061b79!2m2!1d82.9689738!2d25.3323527!1m5!1m1!1s0x398e322ce9aaa787:0xf833de79aeffffe3!2m2!1d82.9864451!2d25.2612245"><abbr title="Click to View Map">From Varanasi Cantt. (Junction) Railway Station to IIT(BHU):</abbr></a></span><br>

BHU Campus is about 10 kms. from Varanasi Cantt. railway Station. Round the clock Auto/ Taxi services are available from Varanasi Cantt. Railway Station to BHU (Lanka). The tentative charges are: for reserve auto Rs. 120-150/-, shared auto Rs. 20/- and for Taxi Rs. 300/- to 350/-.<br>


<span class="from"><a target="_blank" style="color:black;" href="https://www.google.com/maps/dir/Mughal+Sarai+Jn,+Mughal+Sarai,+Uttar+Pradesh,+India/Technex,+IIT+(BHU)+Varanasi,+Training+and+Placement+Office,+IIT+(BHU),+Banaras+Hindu+University+Campus,+Varanasi,+Uttar+Pradesh+221005,+India/@25.2878151,83.0266497,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x398e3ae2d9355229:0x9215de3e4e8f08a9!2m2!1d83.1197011!2d25.2783436!1m5!1m1!1s0x398e322ce9aaa787:0xf833de79aeffffe3!2m2!1d82.9864451!2d25.2612245"><abbr title="Click to View Map">From Mughalsarai Railway Station to IIT(BHU):</abbr></a></span><br>

BHU Campus is about 20 kms. from Mughalsarai Railway Station. Round the clock Auto/ Taxi services are available from Mughalsarai Railway Station to BHU(Lanka). The tentative charges are: for reserve auto Rs. 200/-, shared auto Rs. 35/- and for Taxi Rs. 300/- to 350/-.</p>
<a href="https://www.google.com/maps/place/Technex,+IIT+(BHU)+Varanasi/@25.2617799,82.9868297,18z/data=!4m8!1m2!2m1!1sTechnex,+IIT+(BHU)+Varanasi!3m4!1s0x398e322ce9aaa787:0xf833de79aeffffe3!8m2!3d25.2612245!4d82.9864451" target="_blank"><div class="tag-green">VIEW MAP</div></a>
<div class="hospycontact">
	<span>CONTACTS</span>
	<div class="indiv"><h3>Rohit Negi</h3><h3>+919459494009</h3></div>
	<div class="indiv"><h3>Rahul Yadav</h3><h3>+919956443498</h3></div>
	<div class="indiv"><h3>Rishabh Gupta</h3><p style="font-size:95%;">(For Accommodation at OYO Rooms, Varanasi.)</p><h3>+919559348688</h3></div>
</div>
					</div>
					<span class="bl-icon bl-icon-close" style="letter-spacing: 2px;font-weight: 600;">CLOSE</span>
				</section>
				<!-- Panel items for the works -->
			</div>
			<!-- <div class="overgif" id="gif" style="display:none;">
				<button onclick="gif()" id="enter">Enter in our World!</button>
				<img src="/static/hospitality/images/cefgif.gif">
			</div> -->
		</div><!-- /container -->
		<script>
		function gif(){
			document.getElementById('gif').style.display='none';
			document.getElementById('enter').style.display='none';
		}
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/static/hospitality/js/boxlayout.js"></script>
		<script>
			$(function() {
				Boxlayout.init();
			});
		</script>
	</body>
</html>
