<!doctype html>
<html>
	<head>
		<title>Technex 2018 | IIT (BHU) Varanasi | Asia's Oldest Techno-Management Fest</title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta name="description" content="Witness the oldest techno-management festival from 24th - 26th February. Prizes worth 2 million.">
      <meta name="keywords" content="technex, technex17, technex 17, technex 2017, technex iit, iit bhu fest, iit varanasi fest, bhu fest, technical fest, iit bhu workshop, iitbhu, workshops, iit workshops, workshop in iit, iit bhu workshop, iit events, iit startup, iit banaras, technex bhu, techfest bhu,  iitbhu, iit bhu techfest, technex iit bhu, Indian Institute of technology, iit, bhu, iit festival, iit bhu technical festival, university, india, techfest, bhu, 2017, 2k17, 17, varanasi, big, best, biggest, awesome, large, largest, february, online,  first, robots, science, technology, management, lectures, guest, startup fair, competitions, events, games, informals, iit fests">
      <meta property="fb:app_id" content="461359507257085" />
      <meta property="og:title" content="Technex '17 | 24th - 27th Feb 2017 | IIT (BHU), Varanasi">
      <meta property="og:url" content="http://www.technex.in">
      <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
      <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel='stylesheet' id='stylesheet-css' href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">
	</head>
	<body class="device-mobile loading" >
		
		<header id="nav-header" class="">
			<img src="/static/history/img/logo_white.png" class="logo"/>
		<nav class="nav" role="navigation">
		
		<div class="container container--full">
			<ul class="menu">
				<li class="menulogo"><a href="\"><img src="/static/history/img/logo_white.png"/></a></li>
				<li class="menu__item " data-href="/events">
					<a class="" href="/events">EVENTS</a>
				</li>
				<li class="menu__item " data-href="/talks">
					<a class="" href="/talks">THINK TALKS</a>
				</li>
				<li class="menu__item " data-href="/sponsors">
					<a class="nosamepage" href="/sponsors">SPONSORS</a>
				</li>
				<li class="menu__item " data-href="/kaliedoscope">
					<a class="" href="/kaliedoscope">KALEIDOSCOPE</a>
				</li>
				<li class="menu__item " data-href="/startupfair">
					<a class="" href="/startupfair">STARTUP FAIR</a>
				</li>
				<li class="menu__item " data-href="/contacts">
					<a class="" href="/contacts">CONTACTS</a>
				</li>
				<li class="menu__item " data-href="/hospitality">
					<a class="" href="/hospitality">HOSPITALITY</a>
				</li>
				<li class="menu__item " data-href="/ca">
					<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
				</li>	
		</ul>
	</div>
</nav>

<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
</header>

<section id="container" role="main">
<div id="home" class="home">
<div class="scrollable">
<header class="ct--header ct--header--left  ">
<div class="wrapper fs">
<div class="ct--header__content c8">
<!-- <span class="h4 t t--dy t--header"><span class="t--mask">TECHNEX'18</span></span> -->
<h1 class="h3 t t--dy t--header">
<span class="t--mask">
	INNOVATION IS CONTAGIOUS
</span>
</h1>
</div>
<span class="ct--header__cta ct--header__cta--1 ">
<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Scroll</span></span>
<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
</span>
<div class="ct--header__background r r--16-9" style="background-image:url( /static/main-new.jpg)">
<img class="media media--hide" src="/static/main-new.jpg" alt="">
</div>
</div>
<div class="container">
<div class="content m4 c6">
<p style="text-align: justify;">Technex, the annual techno-management fest of Indian Institute of Technology (BHU), Varanasi is up with its 2k18 edition! The enthralling three days of the event will be jam-packed with a plethora of exercises. ‘Think talks’, as the name suggests, will intrigue the intellect with talks from people hailing from different spheres of life. For the eccentrics and innovators, the ’Start-Up Fair’ will let one manoeuvre through the corporate world and bring up visionary changes. Moreover, the ‘Corporate Conclave’ gives all the business enthusiasts, the chance to interact with executives point-blank and be a spectator of how the real-world functions. To complement all of this, Technex will host a range of events to challenge and soothe the temperament of a technocrat. Mark the calendars for an enriching retreat as Technex propounds its theme ‘Innovation is Contagious'.</p>
</div>
</div>
<div class="mask">
<span class="mask__item c6"></span>
<div class="container">
<span class="mask__item c4"></span>
<span class="mask__item c6"></span>
<span class="mask__item c4"></span>
</div>
<span class="mask__item c6"></span>
</div>
</header>
<div class="container container--full">
<section class="home__part" data-part="events">
<section class="home__block animated m4 c6 image left">
<div class="flex">
	<div class="media">
		<div class="wrapper">
			<img src="/static/history/img/events_2.jpg" alt="">
		</div>
	</div>
	<div class="content">
		<span class="part">
			EVENTS
		</span>
		<p>
			Over 50 events in 9 diverse categories to participate !
		</p>
	</div>
</div>
</section>
</section>
<section class="home__part" data-part="workshops">
<section class="home__block animated m4 c6 image ">
<div class="flex">
	<div class="media">
		<div class="wrapper">
			<img src="/static/history/img/w-s_2.jpg" alt="">
		</div>
	</div>
	<div class="content">
		<span class="part">
			WORKSHOPS
		</span>
		<p>
			Professional certified workshops on upcoming technologies like IOT, Augmented Reality !
		</p>
	</div>
</div>
</section>

<section class="home__block animated m4 c6 image left">
<div class="flex">
	<div class="media">
		<div class="wrapper">
			<img src="/static/history/img/tt_2.jpg" alt="">
		</div>
	</div>
	<div class="content">
		<span class="part">
			THINK TALKS
		</span>
		<p>
			Lectures and interactive sessions with various stalwarts and inspirational personalities from all around the world!
		</p>
	</div>
</div>
</section>

</section>
<section class="home__part" data-part="exhibitions">
<section class="home__block animated m4 c6 image">
<div class="flex">
	<div class="media">
		<div class="wrapper">
			<img src="/static/history/img/exhibit_2.jpg" alt="">
		</div>
	</div>
	<div class="content">
		<span class="part">
			EXHIBITIONS
		</span>
		<p>
			Attend exhibitions hosted by various NGOs,govt institutes like DRDO,International robotics comapanies and many more etc.
		</p>
	</div>
</div>
</section>
</section>
<section class="home__part" data-part="startupfair">
<section class="home__block animated m4 c6 image left">
<div class="flex">
	<div class="media">
		<div class="wrapper">
			<img src="/static/history/img/startup_2.jpg" alt="">
		</div>
	</div>
	<div class="content">
		<span class="part">
			STARTUP FAIR
		</span>
		<p>
		Platform for upcoming startups to showcase their innovation and potential to big corporate and possible mentors!
		</p>
	</div>
</div>
</section>
</section>
<section class="home__part" data-part="initiatives">
<section class="home__block animated m4 c6 image ">
<div class="flex">
	<div class="media">
		<div class="wrapper">
			<img src="https://m.ariane.group/wp-content/uploads/2017/03/2003-640x500-c-default.jpg" alt="">
		</div>
	</div>
	<div class="content">
		<span class="part">
			INITIATIVES
		</span>
		<p>
			Campaigns on social and environmental issues under the patronage of UNEP and Government of India
		</p>
	</div>
</div>
</section>
</section>
<section class="home__part" data-part="sponsors">
<section class="home__block animated m4 c6 image left">
<div class="flex">
	<div class="media">
		<div class="wrapper">
			<img src="https://m.ariane.group/wp-content/uploads/2017/03/1998-640x500-c-default.jpg" alt="">
		</div>
	</div>
	<div class="content">
		<span class="part">
			SPONSORS
		</span>
		<p>
			Support and association with corporate and  local businesses to the fest and its major events!
		</p>
	</div>
</div>
</section>
</section>
<section class="home__part" data-part="simulation">
<section class="home__block animated m4 c6 image ">
<div class="flex">
	<div class="media">
		<div class="wrapper">
			<img src="https://m.ariane.group/wp-content/uploads/2017/03/visuel-6-640x500-c-default.jpg" alt="">
		</div>
	</div>
	<div class="content">
		<span class="part">
			SIMULATION
		</span>
		<p>
			The nextgen event
		</p>
	</div>
</div>
</section>
</section>
</div>
<footer class="footer">
	<div class="container container--full">
		<ul class="footer__links">
                                       <li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>
                </ul>
        <ul class="footer__socials">
            <li>             
              <i class="fa fa-facebook fa-2x"><a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">Facebook</a></i>
            </li>
                                <li> <i class="fa fa-twitter fa-2x">
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter
                </a></i>
            </li>
                                <li> <i class="fa fa-instagram fa-2x">
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram
                </a></i>
            </li>
                                <li> <i class="fa fa-linkedin fa-2x">
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Linkedin">
                    Linkedin
                </a></i>
            </li>
                </ul>
	</div>
</footer>
<div class="mask mask--page">
<div class="loader"></div>
</div>
<script type='text/javascript' src="/static/history/js/main-mobile.js"></script>
</body>
</html>