	<!doctype html>
	<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Our customers and partners - Ariane Group</title>

		<<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="Witness the oldest techno-management festival from 16th - 18th February. Prizes worth 2 million.">
		<meta name="keywords" content="technex, technex18, technex 18, technex 2018, technex iit, iit bhu fest, iit varanasi fest, bhu fest, technical fest, iit bhu workshop, iitbhu, workshops, iit workshops, workshop in iit, iit bhu workshop, iit events, iit startup, iit banaras, technex bhu, techfest bhu,  iitbhu, iit bhu techfest, technex iit bhu, Indian Institute of technology, iit, bhu, iit festival, iit bhu technical festival, university, india, techfest, bhu, 2018, 2k18, 18, varanasi, big, best, biggest, awesome, large, largest, february, online,  first, robots, science, technology, management, lectures, guest, startup fair, competitions, events, games, informals, iit fests">
		<meta property="fb:app_id" content="461359507257085" />
		<meta property="og:title" content="Technex '18 | 16th - 18th Feb 2017 | IIT (BHU), Varanasi">
		<meta property="og:url" content="http://www.technex.in">
		<meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
		<meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">

		
		
		
		<link rel='dns-prefetch' href='//s.w.org' />
		<link rel='stylesheet' id='stylesheet-css'  href='css/style.css' type='text/css' media='all' />
		<link rel='https://api.w.org/' href='https://m.ariane.group/wp-json/' />

	</head>
	<body class="device-mobile   loading" >
		
		<header id="nav-header" class="">

			<a class="logo" href="https://m.ariane.group" rel="nofollow">
				Ariane Group<svg class="i-logo-wrap"><use xlink:href="#i-logo"></use></svg>
			</a>
			<nav class="nav" role="navigation">
				<a class="logo-mobile" href="https://m.ariane.group" rel="nofollow">
					<svg class="i-logo-wrap"><use xlink:href="#i-logo"></use></svg>
				</a>
				<div class="container container--full">
					<ul class="menu">
						<li class="menu__item menu__item--dropable" data-href="https://www.ariane.group/en/about-us/company-profil/">
							<a class="menu__item__linkdrop" href="https://www.ariane.group/en/about-us/company-profil/">About Us</a>
							<ul class="menu__item__drop">
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/company-profil/"><a href="https://m.ariane.group/en/about-us/company-profil/">Company profile</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/our-history/"><a href="https://m.ariane.group/en/about-us/our-history/">Our history</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/our-shareholders/"><a href="https://m.ariane.group/en/about-us/our-shareholders/">Our shareholders</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/subsidiaries-and-affiliates/"><a href="https://m.ariane.group/en/about-us/subsidiaries-and-affiliates/">Subsidiaries and affiliates</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/our-main-facilities-and-locations/"><a href="https://m.ariane.group/en/about-us/our-main-facilities-and-locations/">Our main facilities and locations</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/our-customers-and-partners/"><a href="https://m.ariane.group/en/about-us/our-customers-and-partners/">Our customers and partners</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/our-suppliers/"><a href="https://m.ariane.group/en/about-us/our-suppliers/">Our suppliers</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/quality/"><a href="https://m.ariane.group/en/about-us/quality/">Quality</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/about-us/innovation/"><a href="https://m.ariane.group/en/about-us/innovation/">Innovation</a></li>
							</ul>
						</li>
						<li class="menu__item menu__item--dropable" data-href="https://www.ariane.group/en/commercial-launch-services/ariane-6/">
							<a class="menu__item__linkdrop" href="https://www.ariane.group/en/commercial-launch-services/ariane-6/">Commercial Launch Services</a>
							<ul class="menu__item__drop">
								<li class="sub-item" data-href="https://m.ariane.group/en/commercial-launch-services/ariane-6/"><a href="https://m.ariane.group/en/commercial-launch-services/ariane-6/">Ariane 6</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/commercial-launch-services/ariane-5/"><a href="https://m.ariane.group/en/commercial-launch-services/ariane-5/">Ariane 5</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/commercial-launch-services/launch-services/"><a href="https://m.ariane.group/en/commercial-launch-services/launch-services/">Launch services</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/commercial-launch-services/ariane-legacy/"><a href="https://m.ariane.group/en/commercial-launch-services/ariane-legacy/">Ariane legacy</a></li>
							</ul>
						</li>
						<li class="menu__item menu__item--dropable" data-href="https://www.ariane.group/en/defense/m51/">
							<a class="menu__item__linkdrop" href="https://www.ariane.group/en/defense/m51/">Defense</a>
							<ul class="menu__item__drop">
								<li class="sub-item" data-href="https://m.ariane.group/en/defense/m51/"><a href="https://m.ariane.group/en/defense/m51/">M51</a></li>
							</ul>
						</li>
						<li class="menu__item menu__item--dropable" data-href="https://www.ariane.group/en/equipment-and-services/satellites-and-spacecraft/">
							<a class="menu__item__linkdrop" href="https://www.ariane.group/en/equipment-and-services/satellites-and-spacecraft/">Equipment & Services</a>
							<ul class="menu__item__drop">
								<li class="sub-item" data-href="https://m.ariane.group/en/equipment-and-services/satellites-and-spacecraft/"><a href="https://m.ariane.group/en/equipment-and-services/satellites-and-spacecraft/">Satellites and spacecraft</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/equipment-and-services/launchers/"><a href="https://m.ariane.group/en/equipment-and-services/launchers/">Launchers</a></li>
								<li class="sub-item" data-href="https://m.ariane.group/en/equipment-and-services/security-and-defence/"><a href="https://m.ariane.group/en/equipment-and-services/security-and-defence/">Security and defense</a></li>
							</ul>
						</li>
						<li class="menu__item " data-href="https://m.ariane.group/en/news/">
							<a class="" href="https://m.ariane.group/en/news/">News</a>
						</li>
						<li class="menu__item " data-href="https://m.ariane.group/en/photos-videos/">
							<a class="" href="https://m.ariane.group/en/photos-videos/">Photos &#038; Videos</a>
						</li>
						<li class="menu__item " data-href="https://m.ariane.group/en/careers/">
							<a class="" href="https://m.ariane.group/en/careers/">Careers</a>
						</li>
					</ul>
				</div>
			</nav>
			<span class="search-toggle">
				<svg class="i-search-wrap"><use xlink:href="#i-search"></use></svg>
			</span>
			<div class="wrapper-toggle">
				<span class="menu-toggle js-toggle">
					<i class="burger"><svg class="i-menu-burger-wrap"><use xlink:href="#i-menu-burger"></use></svg></i>
					<span>MENU</span>
				</span>
			</div>
			<div class="nav-header__overlay"></div>
		</header>



		<div id="search-wrapper">
			<span class="close">Close <svg class="i-close-filters-wrap"><use xlink:href="#i-close-filters"></use></svg></span>

			<div class="container">
				<div class="line-search c10 m2">
					<span><svg class="i-search-wrap"><use xlink:href="#i-search"></use></svg></span>
					<input class="ipt-search" type="text" name="search" value="" placeholder="Enter your search terms">
				</div>

				<div class="all-results c10 m2">
					<strong class="nb-results"><strong class="js-nb-results">124</strong> <span class="js-tilte-nb-results" data-singular="result" data-plural="result">result</span></strong>

				</div>
				<div class="search-wrapper__loaded m4 c6">
					<span class="current js-label-timeline-current"></span>
					<div class="bar">
						<div class="progress js-progress"></div>
					</div>
					<span class="max js-nb-results"></span>
				</div>
				<div class="load-more m4 c6">





					<button
					class="btn file btn--rect btn--rect--picto js-load-more"
					>
					<span class="i-more-wrap"></span>
					<span class="btn__content">
						<span class="btn__content-label">Load more</span>
					</span>
					<span class="btn__loading">
						<span class="btn__loading-container">
							<span class="btn__loading-i btn__loading-i--first"></span>
							<span class="btn__loading-i btn__loading-i--middle"></span>
							<span class="btn__loading-i btn__loading-i--last"></span>
							<div class="clear"></div>
						</span>
					</span>
				</button>
			</div>
		</div>
	</div>

	<div class="rotate-screen">
		<div class="content">
			<img src="https://m.ariane.group/wp-content/themes/arianegroup/library/img/rotate-ipad.png" alt="Tourner votre iPad">
			<p>
				Rotate your mobile <br> for a better experience
			</p>
		</div>
	</div>

	<section id="cookies-ribbon">
		<span class="close">
			<svg class="i-close-popin-wrap"><use xlink:href="#i-close-popin"></use></svg>
		</span>

		<div class="content-ribbon">
			<p>
				The website uses cookies. By using the website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.
			</p>
		</div>
	</section>


	<div class="popin-alert">
		<span class="ct--close close js-close-alert">
			<svg class="i-close-popin-wrap"><use xlink:href="#i-close-popin"></use></svg>
		</span>	<div class="layer subscribe">
			<h3 class="h2">
				Subscribe to alerts
			</h3>
			<div class="input-text input-alert">
				<input type="email" placeholder="E-mail">
			</div>
			<span class="error-message">
				Adress invalid
			</span>
			




			<button
			class="btn file btn--rect btn--rect--picto js-alert-validate"
			>
			<span class="i-more-wrap"></span>
			<span class="btn__content">
				<span class="btn__content-label">Subscribe</span>
			</span>
			<span class="btn__loading">
				<span class="btn__loading-container">
					<span class="btn__loading-i btn__loading-i--first"></span>
					<span class="btn__loading-i btn__loading-i--middle"></span>
					<span class="btn__loading-i btn__loading-i--last"></span>
					<div class="clear"></div>
				</span>
			</span>
		</button>
		<p class="warning-message">
			Due to a technical problem, your contact request could not be sent. Please try again in a few moments. Thank you
		</p>
	</div>
	<div class="layer thanks">
		<h3 class="h2">
			Thank you, your registration has been taken into account.
		</h3>
	</div>
</div>

<section id="container" role="main">
	<div id="master" class="master">
		<div class="scrollable">




			<header class="ct--header ct--header--left  fs">

				<div class="wrapper fs">
					<div class="ct--header__content c8">



						<h1 class="h3 t t--dy t--header">
							<span class="t--mask">
								Our Sponsors
							</span>
						</h1>

						



					</div>



					<span class="ct--header__cta ct--header__cta--1 ">
						<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Explore</span></span>
						<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
					</span>


					<div class="ct--header__background r r--16-9" style="background-image:url( https://m.ariane.group/wp-content/uploads/2017/03/06_client.jpg )">
						<img class="media media--hide" src="https://m.ariane.group/wp-content/uploads/2017/03/06_client.jpg" alt="">
					</div>
				</div>


				<div class="mask">
					<span class="mask__item c6"></span>

					<div class="container">
						<span class="mask__item c4"></span>
						<span class="mask__item c6"></span>
						<span class="mask__item c4"></span>
					</div>

					<span class="mask__item c6"></span>
				</div>

			</header>


			



			<section class="master__section logos-grid container ">
				<div class="ct--master ct--logos-grid c12 m1">
					<h2 class="h1">
						Title Sponsor
					</h2>

					<ul style="text-align: justify;">
						<li style="margin: auto;">
							<a class="r r--57-32" href="#" target="_blank">
								<img src="img/smsng.png" alt="">
							</a>
						</li>


					</ul>

					<div class="ct--master ct--logos-grid c12 m1">
						<h2 class="h1">
							Associate Title Sponsor
						</h2>

						<ul style="text-align: justify;">
							<li style="margin: auto;">
								<a class="r r--57-32" href="#" target="_blank">
									<img src="img/smsng.png" alt="">
								</a>
							</li>
							<li style="margin: auto;">
								<a class="r r--57-32" href="#" target="_blank">
									<img src="img/smsng.png" alt="">
								</a>
							</li>


						</ul>

						<div class="ct--master ct--logos-grid c12 m1">
							<h2 class="h1">
								Powered By
							</h2>

							<ul style="text-align: justify;">
								<li style="margin: auto;">
									<a class="r r--57-32" href="#" target="_blank">
										<img src="img/smsng.png" alt="">
									</a>
								</li>


							</ul>
						</div>
					</section>

					<footer class="footer">
						<div class="container container--full">
							<ul class="footer__links">
								<li >
									<a href="https://m.ariane.group/en/contact/" target="">
										Contact
									</a>
								</li>
								<li >
									<a href="https://m.ariane.group/en/sitemap/" target="">
										Site map
									</a>
								</li>
								<li >
									<a href="https://m.ariane.group/en/legal-notice/" target="">
										Legal notice
									</a>
								</li>
								<li >
									<a href="https://airbusdefenceandspace.com/" target="_blank">
										Airbus
									</a>
								</li>
								<li >
									<a href="https://www.safran-group.com/" target="_blank">
										Safran
									</a>
								</li>
								<li class="js-open-alert">
									<a href="#" target="">
										Alerts
									</a>
								</li>
							</ul>
							<ul class="footer__socials">
								<li>
									<a href="https://www.facebook.com/ArianeGroup" target="_blank" title="Join us on Facebook">
										Facebook<svg class="i-facebook-wrap"><use xlink:href="#i-facebook"></use></svg>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/ArianeGroup" target="_blank" title="Join us on Twitter">
										Twitter<svg class="i-twitter-wrap"><use xlink:href="#i-twitter"></use></svg>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/ArianeGroup" target="_blank" title="Join us on Instagram">
										Instagram<svg class="i-instagram-wrap"><use xlink:href="#i-instagram"></use></svg>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/company/airbus-safran-launchers" target="_blank" title="Join us on Linkedin">
										Linkedin<svg class="i-linkedin-wrap"><use xlink:href="#i-linkedin"></use></svg>
									</a>
								</li>
							</ul>
						</div>
					</footer>
					

				</div>
				<span class="ct--close btn btn--close">
					<svg class="i-close-popin-wrap"><use xlink:href="#i-close-popin"></use></svg>
				</span>			</div>
			</section>

			<div class="mask mask--page">
				<div class="loader"></div>
			</div>

			<div class="async-list-manager__no-result">
				<div class="relative">
					<div class="wrapper abs">
						<div class="close abs js-close">
							<span class="label">
								Close
							</span>
							<span class="cross"></span>
						</div>
						<div class="content abs">
							<h5 class="h3">
								Your search yielded no results. <br /> Try again using other criteria.
							</h5>





							<button
							class="btn btn--rect btn--rect--center btn--validate js-btn"
							>
							<span class="btn__content">
								<span class="btn__content-label">New search</span>
							</span>
							<span class="btn__loading">
								<span class="btn__loading-container">
									<span class="btn__loading-i btn__loading-i--first"></span>
									<span class="btn__loading-i btn__loading-i--middle"></span>
									<span class="btn__loading-i btn__loading-i--last"></span>
									<div class="clear"></div>
								</span>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/script.js'></script>

		

	</body>
	</html>
