	<!doctype html>
	<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>

		<title>Our Sponsors</title>

		
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="description" content="Witness the oldest techno-management festival from 16th - 18th February. Prizes worth 2 million.">
	    <meta name="keywords" content="technex, technex18, technex 18, technex 2018, technex iit, iit bhu fest, iit varanasi fest, bhu fest, technical fest, iit bhu workshop, iitbhu, workshops, iit workshops, workshop in iit, iit bhu workshop, iit events, iit startup, iit banaras, technex bhu, techfest bhu,  iitbhu, iit bhu techfest, technex iit bhu, Indian Institute of technology, iit, bhu, iit festival, iit bhu technical festival, university, india, techfest, bhu, 2018, 2k18, 18, varanasi, big, best, biggest, awesome, large, largest, february, online,  first, robots, science, technology, management, lectures, guest, startup fair, competitions, events, games, informals, iit fests">
	    <meta property="fb:app_id" content="461359507257085" />
	    <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2017 | IIT (BHU), Varanasi">
	    <meta property="og:url" content="http://www.technex.in">
	    <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
	    <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#000000">

		
		
		

		<link rel='stylesheet' id='stylesheet-css'  href='/static/history/css/main.css' type='text/css' media='all' />
		

	</head>
	<body class="device-desktop   " >
		<header id="nav-header" class="shown" >
			<a class="logo" href="/" rel="nofollow">
				<img src="/static/admin2/img/technexLogoMobile.png" alt="Technex" style=" height:45px;">
			</a>
			<nav class="nav" role="navigation">
				<div class="container container--full">
					<ul class="menu">
						<li class="menu__item " data-href="/events">
							<a class="" href="/events">EVENTS</a>
						</li>
						<li class="menu__item " data-href="/talks">
							<a class="" href="/talks">THINK TALKS</a>
						</li>
						<li class="menu__item " data-href="/sponsors">
							<a class="nosamepage" href="/sponsors">SPONSORS</a>
						</li>
						<li class="menu__item " data-href="/kaleidoscope">
							<a class="nosamepage" href="/kaleidoscope">KALIEDOSCOPE</a>
						</li>
						<li class="menu__item " data-href="/startupfair">
							<a class="" href="#">STARTUP FAIR</a>
						</li>
						<li class="menu__item " data-href="/contacts">
							<a class="" href="/contacts">CONTACTS</a>
						</li>
						<li class="menu__item " data-href="/hospitality">
							<a class="nosamepage" href="/hospitality">HOSPITALITY</a>
						</li>
						<li class="menu__item " data-href="/campusambassador">
							<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
						</li>
					</ul>
			</div>
		</nav>
			<span class="search-toggle">
				<svg class="i-search-wrap"><use xlink:href="#i-search"></use></svg>
			</span>
			<div class="wrapper-toggle">
				<span class="menu-toggle js-toggle">
					<i class="burger"><svg class="i-menu-burger-wrap"><use xlink:href="#i-menu-burger"></use></svg></i>
					<span>MENU</span>
				</span>
			</div>
			
		</header>


<section id="container" role="main">
	<div id="master" class="master">
		<div class="scrollable">




			<header class="ct--header ct--header--center  fs">

				<div class="wrapper fs">
					<div class="ct--header__content c8">
						<span class="icon-wrapper"><span class="t t--dy t--alpha t--header"><svg class="i-header-wrap"><use xlink:href="#i-header"></use></svg></span></span>

						

						<h1 class="h1 t t--dy t--header">
							<span class="t--mask">
								Our Sponsors
							</span>
						</h1>

						
						<div class="preloader">
							<span class="progress"><span class="bar"></span></span>
							<span class="btn btn--rect">Suite</span>
						</div>



					</div>

					<span class="ct--header__line t t--dy t--sy t--header"></span>


					<span class="ct--header__cta ct--header__cta--1 ">
						<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Explore</span></span>
						<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
					</span>


					<div class="ct--header__background r r--16-9" >
						<video class="media" autoplay="autoplay" poster="https://www.ariane.group/wp-content/uploads/2017/03/06_client.jpg" loop="loop" muted="muted">
							<source src="https://www.ariane.group/wp-content/uploads/2017/03/06_client.mp4" type="video/mp4">
								<source src="https://www.ariane.group/wp-content/uploads/2017/03/06_client.webm" type="video/webm">
								</video>
							</div>
						</div>


						<div class="mask">
							<span class="mask__item c6"></span>

							<div class="container">
								<span class="mask__item c4"></span>
								<span class="mask__item c6"></span>
								<span class="mask__item c4"></span>
							</div>

							<span class="mask__item c6"></span>
						</div>

					</header>




					
					{% for data in response.data %}
					<section class="master__section logos-grid container ">
						<div class="ct--master ct--logos-grid c12 m1">
							<h2 class="h1">
								{{data.type}}
							</h2>

							<ul style="text-align: center;">
							{% for spon in data.sponsors %}
								<li style="margin: auto;">
									<a class="r r--57-32" href="{{spon.websiteLink}}" target="_blank">
										<img style="max-height: 80px;
										max-width: 230px;" src="{{spon.imageLink}}" alt="">
									</a>
								</li>
								  {% endfor %}


							</ul>
						</div>
					</section>
   {% endfor %}



					
					
					
					

					<footer class="footer">
	<div class="container container--full">
        <ul class="footer__socials" style="z-index: 900">
                                <li>
                <a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">
                    Facebook<img src="/static/admin2/img/fb.png" style="width:20px;height:20px;"/> 
                </a>
            </li>
                                <li>
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter<img src="/static/admin2/img/twitter (1).png" style="width:20px;height:20px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram<img src="/static/admin2/img/insta (1).png" style="width:20px;height:20px;"/>
                </a>
            </li>
                                <li>
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Youtube">
                    Youtube<img src="/static/admin2/img/youtube.png" style="width:20px;height:20px;"/>
                </a>
            </li>
                </ul>
	</div>
</footer>
					
				</div>
				</div>
			</section>

			<div class="mask mask--page">
				<span class="mask__item c6"></span>

				<div class="container">
					<span class="mask__item c4"></span>
					<span class="mask__item c6"></span>
					<span class="mask__item c4"></span>
				</div>
				
				<span class="mask__item c6"></span>
			</div>
		<script type='text/javascript' src='/static/new/new.js'></script>

		
	</body>
	</html>
