<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Startup Fair | Technex '17</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Startup Fair, biggest national convention for young entrepreneurs. The participants stand to win funding; scholarship from UP govt; incubation into MCIIE and Startup Village's Silicon Valley Program; and much more.">
    <!-- <link rel="shortcut icon" href="/static/images/favicon.ico"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/favicon/manifest.json">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">
		<!-- google fonts -->

		<!-- Css link -->
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/static/startupfair/css/font-awesome.min.css">
		<link rel="stylesheet" href="F/static/startupfair/css/owl.carousel.css">
		<link rel="stylesheet" href="/static/startupfair/css/owl.transitions.css">
		<link rel="stylesheet" href="/static/startupfair/css/animate.min.css">
		<link rel="stylesheet" href="/static/startupfair/css/lightbox.css">
		<link rel="stylesheet" href="/static/startupfair/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/startupfair/css/preloader.css">
		<link rel="stylesheet" href="/static/startupfair/css/image.css">
		<link rel="stylesheet" href="/static/startupfair/css/icon.css">
		<link rel="stylesheet" href="/static/startupfair/css/style.css">
		<link rel="stylesheet" href="/static/startupfair/css/responsive.css">
        <script>
function navFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68539305-2', 'auto');
  ga('send', 'pageview');
</script>
	</head>
	<body id="top">

        <header id="navigation" class="navbar-fixed-top animated-header" style="position: initial;">
            <!----------NAVBAR-------->
<div class="jnavbar" id="abcde">
		<ul class="topnav" id="myTopnav" style="margin: 0 auto;">
  <li class="topnav-li"><a href="/" style="padding:7px 0px;border:none;"><img src="/static/images/logo-technex-nav.png" height="40px" class="desktopLogo" style="padding-left:8px;padding-right:8px;">
<img src="/static/images/technexLogoMobile.png" height="40px" class="mobLogo" style="padding-left:8px;padding-right:8px;"></a></li>
     <li class="topnav-li"><a class="active" href="/events">EVENTS</a></li>
      <!-- <li class="topnav-li"><a href="/workshops">WORKSHOPS</a></li> -->
      <li class="topnav-li"><a href="/talks">THINK TALKS</a></li>
      <li class="topnav-li"><a href="/sponsors">SPONSORS</a></li>
      <li class="topnav-li"><a href="/kaleidoscope">KALEIDOSCOPE</a></li>
      <li class="topnav-li"><a href="/startupfair">STARTUP FAIR</a></li>
      <li class="topnav-li"><a href="/contacts">CONTACTS</a></li>
     
      <li class="topnav-li"><a href="/hospitality">HOSPITALITY</a></li>
       <li class="topnav-li"><a href="http://ca.technex.in">CAMPUS AMBASSADOR</a></li>
<!--   <li class="topnav-li" id="reg"><a href="/register" style="font-weight:600;background:#0084ff;"> {% if user.is_authenticated %}
  DASHBOARD
  {% else %}
  REGISTER / LOGIN
  {% endif %}</a></li> -->
  <li class="icon">
    <a href="javascript:void(0);" onclick="navFunction()">☰</a>
  </li>
</ul>
</div>
<!----------/NAVBAR-------->
            <div class="container" style="display:none;">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#features">Introduction</a></li>
                        <li><a href="#counter">Highlights</a></li>
                        <li><a href="#faq">Faq</a></li>
                        <li><a href="#team">Contact</a></li>
                        <li><a href="#pricing-table">Schedule</a></li>
                        <li><a href="#play-video">Register</a></li>
<!--                        <li><a href="#client-logo">Sponsers</a></li>-->
                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>


	<div class="wrapper">
		<section id="banner">
			<div class="container" style="margin-top:-4%;">
				<div class="row">
					<div class="col-md-12" style="margin-top:-8%;">
						<div class="block" id="main-head">
														<div class="mainLogo"><img src="/static/startupfair/img/mainlogo/sfairlarge.png"></div>
                            <!-- <h1>STARTUP FAIR</h1> -->
														<div class="logos">
															<div class="button" style="float:left;"><span style="font-weight:600;letter-spacing:2px;font-size:105%;">1.5 LAKHS</span><br>PRIZE MONEY</div>
															<!-- <div class="prizeimg"><img src="/static/startupfair/img/logos/prize.png"><br><p>1.5 LAKH PRIZE MONEY</p></div>
															<div class="incubeimg"><img src="/static/startupfair/img/logos/incubation.png"><br><p>GET CHANCE TO INCUBATE</p></div> -->
															<div class="button" style="float:right;">GET CHANCE<br>TO INCUBATE</div>
															<!-- tag -->
															<!-- <div style="float:right;">
																<div class="tag-green">INCUBATION INTO MCIIE</div>
																<div class="tag-green">STARTUP VILLAGE'S SILICON VALLEY PROGRAME</div>
																<div class="tag-green">SCHOLARSHIP FROM UP GOVERNMENT</div>
																<div class="tag-green">FUNDING FROM VCs</div>
															</div> -->
															<!-- /tag -->
															<!-- <div class="miiimg"><img src="/static/startupfair/img/logos/makeInIndia.png"></div> -->
														</div>
		                            <div class="datesPlace">
																	<h3>24-26 FEBRUARY, 2017</h3>
		                            <!-- <h2>MCIIE | TECHNEX | IIT (BHU), Varanasi</h2> -->
															</div>
                            <h1 class="typewrite-h1" style="font-size:24px;">
                                WHERE ENTREPRENEURS<br>
                              <a class="typewrite" data-period="2000" data-type='[ "build the future","collaborate","build friendships","create headlines","build partnerships","share experiences","witness innovation","fuel breakthroughs" ]'>
                                <span class="wrap"></span>
                              </a>
                            </h1>
							<div class="buttons">
								<p class="mprize">1.5 LAKHS PRIZE MONEY</p>
								<a href="/dashboard/#/startupreg/" target="_blank" class="btn btn-learn" id="registerNow">Register Now</a>
								<a href="#registerNow" class="btn btn-learn" id="snc">Still Not Convinced</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrolldown">
	            <a id="scroll" href="#features" class="scroll"></a>
	        </div>
		</section>

		<section id="features">
			<div class="container" id="introd">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>INTRODUCTION</h2>
							<p class="wow fadeInUp" data-wow-delay=".5s" style="letter-spacing:1px;">Startup Fair is the biggest national convention for young entrepreneurs being organized by IIT (BHU) Varanasi in association with MCIIE. It features a plethora of events including guest lectures, elevator pitch, workshops, Networking Meet and panel discussions.</p>
						</div>
					</div>
				</div>


<!--         comment out when content        -->
<!--
				<div class="row">
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-easel"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">VISION</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Our goal is to give something to the startup community by introducing emerging startups to resources, mentorship, and investment opportunities. We are most interested in working with entrepreneurs using data management to solve public policy, human development, and business challenges. Architecting, analyzing, and managing data in an effective manner is a great challenge and a tremendous area of opportunity for new business innovation.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbucket"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Outstanding Animation</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbrush"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Unlimited Colors</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
				</div>
-->
			</div>
		</section>
        <section id="features">
			<div class="container" id="introd">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>VISION</h2>
							<p class="wow fadeInUp" data-wow-delay=".5s" style="letter-spacing:1px;">Our goal is to give something to the startup community by introducing emerging startups to resources, mentorship, and investment opportunities. We are most interested in working with entrepreneurs using data management to solve public policy, human development, and business challenges. Architecting, analyzing, and managing data in an effective manner is a great challenge and a tremendous area of opportunity for new business innovation.</p>
						</div>
					</div>
				</div>


<!--         comment out when content        -->
<!--
				<div class="row">
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-easel"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">VISION</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Our goal is to give something to the startup community by introducing emerging startups to resources, mentorship, and investment opportunities. We are most interested in working with entrepreneurs using data management to solve public policy, human development, and business challenges. Architecting, analyzing, and managing data in an effective manner is a great challenge and a tremendous area of opportunity for new business innovation.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbucket"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Outstanding Animation</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbrush"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Unlimited Colors</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
				</div>
-->
			</div>
		</section>
		<section id="counter">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>HIGHLIGHTS</h2>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".3s">
							<i class="ion-person"></i>
							<p class="count-text">
								<span class="counter-digit">10 </span>
							</p>
                            <p>VCS</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".5s">
							<i class="ion-ios-lightbulb"></i>
							<p class="count-text">
								<span class="counter-digit">100+ </span>
							</p>
                            <p>Startups</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".7s">
							<i class="ion-person-stalker"></i>
							<p class="count-text">
								<span class="counter-digit">20+ </span>
							</p>
                            <p>Mentors</p>
						</div>
					</div>
          <div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".9s">
							<i class="ion-man"></i>
							<p class="count-text">
								<span class="counter-digit">4000+</span>
							</p>
							<p>Footfall</p>
						</div>
					</div>
				</div>
			</div>
		</section>
<!--
		<section id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>LATEST WORKS</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
						<div class="block">
							<div class="recent-work-mixMenu">
								<ul>
									<li><button class="filter" data-filter="all">VCS</button></li>
									<li><button class="filter" data-filter=".category-2">MENTORS</button></li>
									<li><button class="filter" data-filter=".category-1"></button></li>
									<li><button class="filter" data-filter=".category-2">Illustration</button></li>
									<li><button class="filter" data-filter=".category-1">Media</button></li>
								</ul>
							</div>
							<div class="recent-work-pic">
								<ul id="mixed-items">
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="1">
										<a class="example-image-link" href="img/work1.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work1.jpg" alt="">
											<div class="overlay">
													<h3>Web design</h3>
													<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="2">
										<a class="example-image-link" href="img/work2.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work2.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="3">
										<a class="example-image-link" href="img/work3.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work3.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="4">
										<a class="example-image-link" href="img/work4.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work4.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="img/work5.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work5.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="6">
										<a class="example-image-link" href="img/work6.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work6.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
-->


<!--    FAQ    -->

        <section id="faq">
            <div class="container">
               <div class="row">
                   <div class="title">
							<h2 style="margin-top:5%;" id="problemproblem">FREQUENTLY ASKED QUESTIONS</h2>
							<h2 style="margin-top:5%;" id="problem">FAQ's</h2>
						</div>
<!-- new -->
									 <div class="container11 demo">


							 		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

							 			<div class="panel panel-default">
							 				<div class="panel-heading" role="tab" id="headingOne">
							 					<h4 class="panel-title">
							 						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							 							<i class="more-less glyphicon glyphicon-plus"></i>
							 							1. Who is eligible to participate in Startup Fair?
							 						</a>
							 					</h4>
							 				</div>
							 				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							 					<div class="panel-body">
							 						  The contest is open to students, corporate professionals, entrepreneurs, as well as other independent individuals (employed or unemployed)
							 					</div>
							 				</div>
							 			</div>

							 			<div class="panel panel-default">
							 				<div class="panel-heading" role="tab" id="headingTwo">
							 					<h4 class="panel-title">
							 						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							 							<i class="more-less glyphicon glyphicon-plus"></i>
							 							2. Do all the team members have to be from the same University / Business School / Organization?
							 						</a>
							 					</h4>
							 				</div>
							 				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							 					<div class="panel-body">
							 						No. All the team members need not be from the same University / Business School / Organization.
													</div>
							 				</div>
							 			</div>

							 			<div class="panel panel-default">
							 				<div class="panel-heading" role="tab" id="headingThree">
							 					<h4 class="panel-title">
							 						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							 							<i class="more-less glyphicon glyphicon-plus"></i>
							 							3. Can corporate participants from different companies form a Team?
							 						</a>
							 					</h4>
							 				</div>
							 				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							 					<div class="panel-body">
							 						Yes. Corporate professionals from different companies can form a team together.
														</div>
							 				</div>
							 			</div>

										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingFour">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
														<i class="more-less glyphicon glyphicon-plus"></i>
														4. Can the team have a mix of Business school students/undergraduate students/corporate professionals/entrepreneurs/other individuals?
													</a>
												</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
												<div class="panel-body">
													Yes, the team can have any mix of participants.
													</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingFive">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
														<i class="more-less glyphicon glyphicon-plus"></i>
														5. Is the team composition mentioned at the time of registration final?
													</a>
												</h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
												<div class="panel-body">
													Yes. No changes will be allowed in the team composition after registration. Therefore, please enter the team details after proper deliberation.
													</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingSix">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
														<i class="more-less glyphicon glyphicon-plus"></i>
														6. What if a person gets registered as part of more than one team?
													</a>
												</h4>
											</div>
											<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
												<div class="panel-body">
													Both the teams will become ineligible to participate. Therefore, please check with the proposed team members before registering.
												</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingSeven">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
														<i class="more-less glyphicon glyphicon-plus"></i>
														7. What is the registration fee for participation?
													</a>
												</h4>
											</div>
											<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
												<div class="panel-body">
													2000 per participant (free Accomodation).
													</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingEight">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
														<i class="more-less glyphicon glyphicon-plus"></i>
														8. Where will the final round of the event be held?
													</a>
												</h4>
											</div>
											<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
												<div class="panel-body">
													The Grand Finale will be held on the campus of Indian Institute of Technology, (BHU) Varanasi on 25th February and 26th February, 2017 during Technex 2017.
												</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingNine">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
														<i class="more-less glyphicon glyphicon-plus"></i>
														9. Can we consult non-team members such as professors or industry experts?
													</a>
												</h4>
											</div>
											<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
												<div class="panel-body">
													The interaction with non-team members should be restricted to interviews and surveys, and proper reference should be made to the same in the business plan document. Similarly, any other information source including published studies may be used, but the document submitted should contain proper references.
													</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingTen">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
														<i class="more-less glyphicon glyphicon-plus"></i>
														10. Should the business plans strictly adhere to a structure?
													</a>
												</h4>
											</div>
											<div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
												<div class="panel-body">
													While adherence to any structure is not compulsory, all the relevant aspects such as business concept, vision, market opportunity, competitive advantage, detailed competitive analysis and the resources and finances required to implement the idea can be included. Relevant financial projections including expected cash flows, pro-forma balance sheets and 'P and L' statements can be included. Proposed management structure and relevant assumptions may also be included.
													</div>
											</div>
										</div>
										<hr style="border:1px dotted rgba(0,0,0,.5)">
							 		</div>


							 	</div><!-- container
<!--/ new -->



                </div>
            </div>
        </section>
<!--   /FAQ     -->

<!-- VCS and mentors -->
<section id="vcs" style="background:#f5f5f5;">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 style="margin-top:2%;">VCS AND MENTORS</h2>
				<!-- views -->
				<ul class="cd-items cd-container">
					<li class="cd-item">
						<img src="/static/startupfair/img/img1/j1.jpg" alt="Item Preview">
						<a href="#0" class="cd-trigger">Rajiv Jamkhedkar</a>
						<p class="vcpost cd-trigger">SERENGETI VENTURES, Ex-AEGON RELICARE</p>
					</li> <!-- cd-item -->

					<li class="cd-item">
						<img src="/static/startupfair/img/img1/j2.jpg" alt="Item Preview">
						<a href="#0" class="cd-trigger">G.S. Naveen Kumar</a>
						<p class="vcpost cd-trigger">SPECIAL SECERETARY, GOVT. OF UP</p>
					</li> <!-- cd-item -->

					<li class="cd-item">
						<img src="/static/startupfair/img/img1/j3.jpg" alt="Item Preview">
						<a href="#0" class="cd-trigger">Vinod Dham</a>
						<p class="vcpost cd-trigger">INDO-US VENTURES PARTNER 'FATHER OF PENTIUM'</p>
					</li> <!-- cd-item -->

					<li class="cd-item">
						<img src="/static/startupfair/img/img1/j4.jpg" alt="Item Preview">
						<a href="#0" class="cd-trigger">Prof PK Mishra</a>
						<p class="vcpost cd-trigger">SECERETARY, MCIIE IIT (BHU), VARANASI</p>
					</li> <!-- cd-item -->

					<li class="cd-item">
						<img src="/static/startupfair/img/img1/j5.jpg" alt="Item Preview">
						<a href="#0" class="cd-trigger">Anil Joshi</a>
						<p class="vcpost cd-trigger">UNICORN INDIA VENTURES, EX-PRESIDENT MUMBAI ANGELS</p>
					</li> <!-- cd-item -->
				</ul> <!-- cd-items -->

				<div class="cd-quick-view">
					<div class="cd-slider-wrapper">
						<ul class="cd-slider">
							<li class="selected"><img src="/static/startupfair/img/img1/j1.jpg" alt="Product 1"></li>
							<li><img src="/static/startupfair/img/img1/j2.jpg" alt="Product 2"></li>
							<li><img src="/static/startupfair/img/img1/j3.jpg" alt="Product 3"></li>
							<li><img src="/static/startupfair/img/img1/j4.jpg" alt="Product 4"></li>
							<li><img src="/static/startupfair/img/img1/j5.jpg" alt="Product 5"></li>
						</ul> <!-- cd-slider -->

						<ul class="cd-slider-navigation">
							<li><a class="cd-next" href="#0">Prev</a></li>
							<li><a class="cd-prev" href="#0">Next</a></li>
						</ul> <!-- cd-slider-navigation -->
					</div> <!-- cd-slider-wrapper -->

					<div class="cd-item-info">
						<h2>SOON</h2>
						<p>Will Available Soon !</p>
						<a href="#0" class="cd-close" style="letter-spacing:2px;">Close</a>
			</div>
		</div>
	</div>
</section>

        <section id="pricing-table" style="display:none;">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>SCHEDULE</h2>
					</div>
					<div class="col-md-4 col" id="schd">
						<div class="block text-center wow fadeInLeft" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>DAY 1</h4>
								<p>The service providers shall grace the event by introducing themselves. They would reveal the +past startups they have been associated with and shall subsequently highlight the kind of startups they wish to target during the mega event.

                                A brain-storming session would follow where the teams shall interact with their mentors, which would be already pre-assigned a couple of weeks ago with the motive of streamlining and fine-tuning their ideas. Additional domain specific mentors shall be available at that time to provide better insights pertaining to specific points.

                                Finally, the investors and venture capitalists shall present the ending note emphasizing upon the latest trends emerging in the entrepreneurial world and their expectations from the startups present at the event.</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col" id="schd">
						<div class="block text-center wow zoomIn" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>DAY 2</h4>
									<p>
                                        After making optimal utilization of the mentoring process, the teams would present their refined B-Plan in front of eminent investors and fellow entrepreneurs.

                                            A networking session would follow where all the attendees would be allowed to interact amongst themselves.

                                            The investors shall conclude the event by announcing the names of startups in which they wish to invest.
                                    </p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="play-video">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2 class="wow fadeInUp" data-wow-delay=".3s" style="letter-spacing:3px;">REGISTER HERE FOR STARTUP FAIR 2017</h2>
					<p class="wow fadeInUp" data-wow-delay=".5s">Be The Part Of India's Largest Startup Event</p>
					<a href="/dashboard/#/startupreg/" target="_blank">
		<!--<div class="button ion-ios-play-outline wow zoomIn" data-wow-delay=".3s"></div>-->
																		<button>
																				REGISTER
																				<div class="button__border button__border--top"></div>
																				<div class="button__border button__border--right"></div>
																				<div class="button__border button__border--bottom"></div>
																				<div class="button__border button__border--left"></div>
																			</button>
					</a>
				</div>
			</div>
		</div>
		</div>
		</section>
		<section id="team">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>CONTACT US</h2>
					</div>
					<div class="col-sm-6 col-sm-4 col-xs-6" id="jcontact">
						<div class="block wow fadeInLeft" data-wow-delay=".3s" style="display:none;">
                            <img src="/static/startupfair/img/team-img1.jpg" alt="">
							<div class="team-overlay">
                                <span class="icon"><a href=""><i class="ion-social-facebook"></i></a></span>
								<h3>Arun Kumar</h3>
                                <span class="icon"><a><i class="ion-social-whatsapp"></i></a></span>
                                <span style="color:white">+919695806384</span>
							</div>
						</div>
                        <div class="name_post" ><h2>Arun Kumar</h2><h3>Organiser</h3><h3 class="email">karun.kumarcd.mec14@iitbhu.ac.in</h3><h3>+917200007691</h3></div>
					</div>
					<div class="col-sm-6 col-sm-4 col-xs-6" id="jcontact">
						<div class="block wow fadeInLeft" data-wow-delay=".6s" style="display:none;">
							<img src="/static/startupfair/img/team-img2.jpg" alt="">
							<div class="team-overlay">
                                <span class="icon"><a href=""><i class="ion-social-facebook"></i></a></span>
								<h3>ARUN KUMAR</h3>
                                <span class="icon"><a><i class="ion-social-whatsapp"></i></a></span>
                                <span style="color:white">+919695806384</span>
							</div>
						</div>
                        <div class="name_post"><h2>Bharat Kashyap</h2><h3>Organiser</h3><h3 class="email">bharat.bharat.min14@iitbhu.ac.in</h3><h3>+917052378758</h3></div>
					</div>
						<div class="col-sm-6 col-sm-4 col-xs-6" id="jcontact">
						<div class="block wow fadeInLeft" data-wow-delay=".6s" style="display:none;">
							<img src="/static/startupfair/img/team-img2.jpg" alt="">
							<div class="team-overlay">
                                <span class="icon"><a href=""><i class="ion-social-facebook"></i></a></span>
								<h3>AKSHAY SHRIVASTAVA</h3>
                                <span class="icon"><a><i class="ion-social-whatsapp"></i></a></span>
                                <span style="color:white">+917618029478</span>
							</div>
						</div>
                        <div class="name_post"><h2>Prashant Ojha</h2><h3>Organiser</h3><h3 class="email">prashant.kojha.min14@iitbhu.ac.in</h3><h3>+917275283680</h3></div>
					</div>
				</div>
			</div>
		</section>

<!--
		<section id="blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Blog</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
						<div id="blog-post" class="owl-carousel">
							<div>
								<div class="block">
									<img src="img/blog/blog-1.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>

									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-2.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>

									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-3.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>

									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-4.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>

									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-1.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
-->


<!-- ---------TESTIMONIALS------------- -->

<!--
		<section id="testimonial">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>TESTIMONIAL</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>
-->
<!--  /testinomials       -->


<!--     SPONSERS   -->

		<section id="client-logo">
			<div class="container">
				<div class="row">
                    <div class="media_partner">
                    					<div class="title">
						<h2>SPONSORS</h2>
					<div class="col-md-12">
						<div class="block">
							<div id="Client_Logo" class="owl-carousel">
								<div>
									<a href="#"><img class="img-responsive" src="/static/startupfair/img/mp1.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="/static/startupfair/img/mp2.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="/static/startupfair/img/mp3.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="/static/startupfair/img/yourstoryLogo.png" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="/static/startupfair/img/LogoAtnd.png" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

		<!-- load Js -->
		<script src="/static/startupfair/js/jquery-1.11.3.min.js"></script>
		<script src="/static/startupfair/js/bootstrap.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>
		<script src="/static/startupfair/js/waypoints.min.js"></script>
		<script src="/static/startupfair/js/lightbox.js"></script>
		<script src="/static/startupfair/js/jquery.counterup.min.js"></script>
		<script src="/static/startupfair/js/owl.carousel.min.js"></script>
		<script src="/static/startupfair/js/html5lightbox.js"></script>
		<script src="/static/startupfair/js/jquery.mixitup.js"></script>
		<script src="/static/startupfair/js/wow.min.js"></script>
		<script src="/static/startupfair/js/jquery.scrollUp.js"></script>
		<script src="/static/startupfair/js/jquery.sticky.js"></script>
		<script src="/static/startupfair/js/jquery.nav.js"></script>
		<script src="/static/startupfair/js/main.js"></script>
        <script src="/static/startupfair/js/typing.js"></script>
				<script src="/static/startupfair/js/js1/jquery-2.1.1.js"></script>
				<script src="/static/startupfair/js/js1/velocity.min.js"></script>
				<script src="/static/startupfair/js/js1/main.js"></script>
	</body>
</html>
