	<!doctype html>
<html lang="en-US">
	<head>

		<title>Startup Fair | Technex '18</title>

				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		 <meta name="description" content="Startup Fair, biggest national convention for young entrepreneurs. The participants stand to win funding; scholarship from UP govt; incubation into MCIIE and Startup Village's Silicon Valley Program; and much more.">

		
		     <meta property="fb:app_id" content="461359507257085" />
      <meta property="og:title" content="Technex '18 | 16th - 18th Feb 2018 | IIT (BHU), Varanasi">
      <meta property="og:url" content="http://www.technex.in">
      <meta property="og:description" content="Annual techno-management festival of IIT (BHU), Varanasi">
      <meta property="og:image" content="http://www.technex.in/static/css/images/img-fb.png">
		<link rel='stylesheet' id='stylesheet-css' href="/static/history/css/main-mobile.css" type='text/css' media='all' />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">
		<!-- ADITIONAL LINK -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		
<!-- This site is optimized with the Yoast SEO plugin v5.0.1 - https://yoast.com/wordpress/plugins/seo/ -->


			</head>
	<body class="device-mobile   loading" >
		
		<header id="nav-header" class="">
			<img src="/static/history/img/logo_white.png" class="logo"/>
		<nav class="nav" role="navigation">
		
		<div class="container container--full">
			<ul class="menu">
				<li class="menulogo"><img src="/static/history/img/logo_white.png"/></li>
				<li class="menu__item " data-href="/events">
					<a class="" href="/events/">EVENTS</a>
				</li>
				<li class="menu__item " data-href="/talks">
					<a class="" href="/talks">THINK TALKS</a>
				</li>
				<li class="menu__item " data-href="/sponsors">
					<a class="nosamepage" href="/sponsors">SPONSORS</a>
				</li>
				<li class="menu__item " data-href="/kaliedoscope">
					<a class="" href="/kaliedoscope">KALEIDOSCOPE</a>
				</li>
				<li class="menu__item " data-href="/startupfair">
					<a class="" href="/startupfair">STARTUP FAIR</a>
				</li>
				<li class="menu__item " data-href="/contacts">
					<a class="" href="/contacts">CONTACTS</a>
				</li>
				<li class="menu__item " data-href="/hospitality">
					<a class="" href="/hospitality">HOSPITALITY</a>
				</li>
				<li class="menu__item " data-href="/ca">
					<a class="" target="_blank" href="http://ca.technex.in">CAMPUS AMBASSADOR</a>
				</li>	
		</ul>
	</div>
</nav>

<div class="wrapper-toggle">
<span class="menu-toggle js-toggle">
<i class="fa fa-bars"></i><span>MENU</span>
</span>
</div>
<div class="nav-header__overlay"></div>
</header>



<div id="search-wrapper">
	<span class="close">Close <svg class="i-close-filters-wrap"><use xlink:href="#i-close-filters"></use></svg></span>

	<div class="container">
		<div class="line-search c10 m2">
			<span><svg class="i-search-wrap"><use xlink:href="#i-search"></use></svg></span>
			<input class="ipt-search" type="text" name="search" value="" placeholder="Enter your search terms">
		</div>

		<div class="all-results c10 m2">
			<strong class="nb-results"><strong class="js-nb-results">124</strong> <span class="js-tilte-nb-results" data-singular="result" data-plural="result">result</span></strong>
						
                		</div>
		<div class="search-wrapper__loaded m4 c6">
            <span class="current js-label-timeline-current"></span>
            <div class="bar">
                <div class="progress js-progress"></div>
            </div>
            <span class="max js-nb-results"></span>
        </div>
		<div class="load-more m4 c6">
			




    <button
    class="btn file btn--rect btn--rect--picto js-load-more"
    >
                    <span class="i-more-wrap"></span>
                <span class="btn__content">
            <span class="btn__content-label">Load more</span>
                    </span>
        <span class="btn__loading">
            <span class="btn__loading-container">
                <span class="btn__loading-i btn__loading-i--first"></span>
                <span class="btn__loading-i btn__loading-i--middle"></span>
                <span class="btn__loading-i btn__loading-i--last"></span>
                <div class="clear"></div>
            </span>
        </span>
    </button>
		</div>
	</div>
</div>
		
		<div class="rotate-screen">
	<div class="content">
		<img src="">
		<p>
			Rotate your mobile <br> for a better experience
		</p>
	</div>
</div>



		<section id="container" role="main">
			<div id="master" class="master">
				<div class="scrollable">
					
    

	
<header class="ct--header ct--header--left  ">
	
	<div class="wrapper fs">
		<div class="ct--header__content c8">
			
							<span class="h4 t t--dy t--header"><span class="t--mask"></span>PRESENTS</span>
			
			<h1 class="h3 t t--dy t--header">
				<span class="t--mask">
					STARTUP FAIR
									</span>
			</h1>
			
						
			
			
			
		</div>

		
				
					<span class="ct--header__cta ct--header__cta--1 ">
								<span class="ct--header__cta__label t t--dy t--header"><span class="t--mask">Explore</span></span>
				<span class="ct--header__cta__line t t--dy t--sy t--header"></span>
			</span>
		

		<div class="ct--header__background r r--16-9" style="background-image:url(http://res.cloudinary.com/ishu2502/image/upload/v1508531910/startup_n2fbjs.jpg)">
	<img class="media media--hide" src=" http://res.cloudinary.com/ishu2502/image/upload/v1508531910/startup_n2fbjs.jpg" alt="">
														</div>
	</div>

			<div class="container">
			<div class="content m4 c6">
			<h1 class="h1">INTRODUCTION</h1>
				<p>
Ambition is the steam that drives men forward on the road to success. Only the engine under full steam can make the grade.</p>
				<p>Startup Fair is the most prominent national convention for young entrepreneurs organized by IIT (BHU) Varanasi in association with MCIIE. It features a plethora of events including guest lectures, elevator pitch, workshops, Networking Meet and panel discussions.</p>
			<h1 class="h1">VISION</h1>
	<p><span style="font-size: medium;">Our goal is to give something to the Startup community by introducing emerging Startups to resources, mentorship, and investment opportunities. We are most interested in working with entrepreneurs using data management to solve public policy, human development, and business challenges. Architecting, analyzing, and managing data efficiently is a significant challenge and a tremendous area of opportunity for new business innovation.. </span></p>
				<p>We offer you two category to participate in the event-<br />
1. Already established start-up’s from one year or so, with a set business model, well-defined revenue system and their product launched in the market. These teams will get an opportunity to get funded by the VC’s and investors present at the event.<br />
2. The newbies are entering into the world of Entrepreneurship. Those who may or may not have a product already built but an idea they think is the innovation of the new world.</p>

			</div>
		</div>
		
			
	<div class="mask">
		<span class="mask__item c6"></span>

		<div class="container">
			<span class="mask__item c4"></span>
			<span class="mask__item c6"></span>
			<span class="mask__item c4"></span>
		</div>
		
		<span class="mask__item c6"></span>
	</div>

</header>

    	<section class="master__section key-figures container first">
		<div class="ct--master ct--key-figures ct--key-figures--top">
	            <ul class="c9  m4 "  style="background-image:url('http://res.cloudinary.com/ishu2502/image/upload/v1508531910/startup_n2fbjs.jpg')" >
                        <li class="c4">
                <strong>
                    10
                </strong>
                <span>
                    VCS
                </span>
            </li>
                    <li class="c4">
                <strong>
                    200+
                </strong>
                <span>
                    STARTUPS
                </span>
            </li>
                    <li class="c4">
                <strong>
                    20+
                </strong>
                <span>
                    MENTORS
                </span>
            </li>
                    <li class="c4">
                <strong>
                    4000+
                </strong>
                <span>
                    FOOTFALL
                </span>
            </li>
            </ul>
</div>
	</section>

			<section class="master__section advanced-content container ">
			<div class="ct--master ct--advanced-content ">
		<div class="content m4 c6">
					<div class="content m4 c6">
		<h1 class="h3">FREQUENTLY ASKED QUESTIONS</h1>
					<p><span style="font-size: medium;"><strong></strong></span></p>
<p><span style="font-size: medium;"></span></p><ol>
										<li><strong>1. Who is eligible to participate in Startup Fair?</strong><br> The contest is open to students, corporate professionals, entrepreneurs, as well as other independent individuals (employed or unemployed)</li>
										<li><strong> 2. Do all the team members have to be from the same University / Business School / Organization?</strong> <br> No. All the team members need not be from the same University / Business School / Organization.</li>
										<li><strong> 3. Can corporate participants from different companies form a Team? </strong> <br> Yes. Corporate professionals from different companies can form a team together.</li>
										<li><strong> 4. Can the team have a mix of Business school students/undergraduate students/corporate professionals/entrepreneurs/other individuals?</strong> <br>Yes, the team can have any mix of participants.</li>
										<li><strong> 5. Is the team composition mentioned at the time of registration final?</strong> <br>Yes. No changes will be allowed in the team composition after registration. Therefore, please enter the team details after proper deliberation</li>
										<li><strong> 6. What if a person gets registered as part of more than one team?</strong> <br>Both the teams will become ineligible to participate. Therefore, please check with the proposed team members before registering.</li>
										<li><strong> 7. What is the registration fee for participation?</strong> <br>2000 per participant (free Accomodation).</li>
										<li><strong> 8. Where will the final round of the event be held?</strong> <br>The Grand Finale will be held on the campus of Indian Institute of Technology, (BHU) Varanasi on 25th February and 26th February, 2017 during Technex 2017.</li>
										<li><strong> 9. Can we consult non-team members such as professors or industry experts?</strong> <br>The interaction with non-team members should be restricted to interviews and surveys, and proper reference should be made to the same in the business plan document. Similarly, any other information source including published studies may be used, but the document submitted should contain proper references.</li>
										<li><strong> 10. Should the business plans strictly adhere to a structure?</strong> <br>Yes. No changes will be allowed in the team composition after registration. Therefore, please enter the team details after proper deliberation</li>
									</ol><p></p>

			</div>
			</div>
</div>
		</section>

				<section class="master__section quote container ">
			<div class="ct--master ct--quote">
				<div class="ct--master ct--related-links">
		<!--	<h2 class="h1 m1 c10" style="font-size:16px;">
			REGISTER HERE FOR STARTUP FAIR 2018
		</h2>   -->
		<div class="links m4 c6">
														

    
    

 <!--   <a class="btn link btn--rect btn--rect--picto full" href="" title="Vulcain Turbine Pump Starter" target="_blank">
                    <span class="i-more-wrap"></span>
                <span class="btn__content">
            <span class="btn__content-label" style="">REGISTER</span>
                    </span>
        <span class="btn__loading">
            <span class="btn__loading-container">
                <span class="btn__loading-i btn__loading-i--first"></span>
                <span class="btn__loading-i btn__loading-i--middle"></span>
                <span class="btn__loading-i btn__loading-i--last"></span>
                <div class="clear"></div>
            </span>
        </span>
    </a>    -->

			
			</div>
		</div>
</div>
			</section>   







	



<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
			<h3 class="h1">MENTORS AND VCS</h3>
					<div class="picture">
				<img src="/static/startupfair/img/img1/j1.jpg" alt="">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content">
			<p style="text-align: center;">Rajiv Jamkhedkar</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
		
					<div class="picture">
				<img src="/static/startupfair/img/img1/j2.jpg" alt="">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content">
			<p style="text-align: center;">G.S. Naveen Kumar</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
	
					<div class="picture">
				<img src="/static/startupfair/img/img1/j3.jpg"  alt="">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content">
				<p style="text-align: center;">Vinod Dham</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
		
					<div class="picture">
				<img src="/static/startupfair/img/img1/j4.jpg"  alt="">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content">
		<p style="text-align: center;">Prof PK Mishra</p>

		</div>
	</div>

</div>		</section>
<section class="master__section two-cols container first">
			<div class="ct--master ct--two-cols">
		<div class="col left m1 c3 illustrate">
		
					<div class="picture">
				<img src="/static/startupfair/img/img1/j5.jpg"  alt="">
			</div>
		
			</div>
	<div class="col right c6 illustrate">
		
		<div class="content">
		<p style="text-align: center;">Anil Joshi</p>

		</div>
	</div>

</div>		</section>



<!--******************* SPONSORS ****************************-->


				<section class="master__section logos-grid container ">
			<div class="ct--master ct--logos-grid c12 m1">
    		<h2 class="h1">
			SPONSORS
		</h2>
	
  			
			<ul style="background-image:url('') ; margin-bottom: ;">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%">
                    <img src="/static/startupfair/img/mp1.jpg" alt="" style="width:100%;">
                </a>
            
			 </ul> 
			 <ul style="background-image:url('')">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%;">
                    <img src="/static/startupfair/img/mp2.jpg" alt="" style="width:100%;height: 90%">
                </a>
            
			 </ul>  
			 <ul style="background-image:url('')">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%;">
                    <img src="/static/startupfair/img/mp3.jpg" alt="" style="width:100%; height:75%; margin:auto;">
                </a>
            
			 </ul>

			<ul style="background-image:url('')">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%;">
                    <img src="/static/startupfair/img/yourstoryLogo.png" alt="" style="width:100%;">
                </a>
            
			 </ul> 

			<ul style="background-image:url('')">
				                    
                <a class="r r--57-32" href="#" target="_blank" style="width:100%;">
                    <img src="/static/startupfair/img/LogoAtnd.png" alt="" style="width:100%;">
                </a>
            
			 </ul> 
								        		    
</div>
		</section>
	



	
	<section class="master__section key-figures container first">
	
		<div class=" ct--key-figures ct--key-figures--top">
		<h1 class="h1 container" style= "margin-left:20px;">CONTACTS</h1>
	            <ul class="c9  m4 "  style="background-image:url('')" >
                        <li class="c4">
                <strong style="font-size:25px">
                    ARUN KUMAR
                </strong>
                <span>
                    organiser
                </span>
                <span style="margin-left:-48px;">karun.kumarcd.mec14@iitbhu.ac.in </span>
            </li>
                    <li class="c4">
                <strong style="font-size:25px">
                    BAHART KASHYAP
                </strong>
                <span>
                    organiser
                </span>
                <span style="margin-left:-48px;">bharat.bharat.min14@iitbhu.ac.in</span>

            </li>
                    <li class="c4">
                <strong style="font-size:25px">
                    PRASHANT OJHA
                </strong>
                <span>
                    organiser
                </span>
                <span style="margin-left:-48px;">prashant.kojha.min14@iitbhu.ac.in</span>
            </li>
            </ul>
</div>
	</section>

		<footer class="footer">
	<div class="container container--full">
		<ul class="footer__links">
                                       <li class="js-open-alert">
                <a href="#" target="">
                    REGISTER
                </a>
            </li>
                </ul>
        <ul class="footer__socials">
            <li>             
              <i class="fa fa-facebook fa-2x"><a href="https://www.facebook.com/technexiitbhu/" target="_blank" title="Join us on Facebook">Facebook</a></i>
            </li>
                                <li> <i class="fa fa-twitter fa-2x">
                <a href="https://twitter.com/technexiitbhu" target="_blank" title="Join us on Twitter">
                    Twitter
                </a></i>
            </li>
                                <li> <i class="fa fa-instagram fa-2x">
                <a href="https://www.instagram.com/technexiitbhu/" target="_blank" title="Join us on Instagram">
                    Instagram
                </a></i>
            </li>
                                <li> <i class="fa fa-linkedin fa-2x">
                <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" title="Join us on Linkedin">
                    Linkedin
                </a></i>
            </li>
                </ul>
	</div>
</footer>		

									</div>
						<span class="ct--close btn btn--close">
		<svg class="i-close-popin-wrap"><use xlink:href="#i-close-popin"></use></svg>
</span>			</div>
		</section>

		<div class="mask mask--page">
							<div class="loader"></div>
					</div>

	
					<script type='text/javascript' src='/static/history/js/main-mobile.js'></script>
			</body>
</html>
